<template>
    <nav class="main-nav">
        <ul :id="idMenu?idMenu:classMenu" :class="classMenu">
          <menu-item v-for="el in validItem"
                     :item="el"
                     :not-mobile="notMobile"
                     :key="el.name" />
        </ul>
    </nav>
</template>

<script>
import router from '../../../routes';
import MenuItem from '../molecules/MenuItem.vue';

export default {
  name: 'MainMenu',
  components: { MenuItem },
  data() {
    return {
      navMenu: router.options.routes,
    };
  },
  props: {
    hideSubMenu: Boolean,
    excludeElem: Array,
    includeElem: Array,
    idMenu: String,
    classMenu: String,
    notMobile: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    validItem() {
      let { navMenu } = this;
      const { excludeElem, includeElem } = this;
      navMenu = navMenu.filter((el) => !el.notIndex);
      if (includeElem) {
        navMenu = navMenu.filter((el) => el.name === includeElem.find((item) => item === el.name));
      }
      if (excludeElem) {
        navMenu = navMenu.filter((el) => el.name !== excludeElem.find((item) => el.name === item));
      }
      return navMenu;
    },
  },
};
</script>
