<template>
    <nav
      id="nav-language"
      class="nav-language"
      @click="show = !show"
      :class="{active: show}">
        <div class="nav-language__active arrow-children">
            {{$ml.current}}
        </div>
        <transition @enter="enter" @leave="leave">
          <ul v-if="show" class="nav-language__list">
              <li v-for="lang in $ml.list"
                  class="nav-language__item"
                  v-show="lang !== $ml.current"
                  @click="$ml.change(lang); currentTitle();"
                  :key="lang">
                {{lang}}
              </li>
          </ul>
        </transition>
    </nav>
</template>

<script>
import Velocity from 'velocity-animate';

export default {
  name: 'NavLanguage',
  data() {
    return {
      show: false,
    };
  },
  methods: {
    enter(el, done) {
      Velocity(el, 'slideDown', {
        duration: 400,
        easing: 'easeIn',
      },
      { complete: done });
    },

    leave(el, done) {
      Velocity(el, 'slideUp', {
        duration: 50,
        easing: 'easeOutQuad',
      },
      { complete: done });
    },
    currentTitle() {
      const { meta } = this.$router.currentRoute;
      document.title = this.$ml.get(this.$_t(meta.title));
    },
  },
};
</script>

<style scoped lang="sass">

</style>
