<template>
  <span class="social-icon">
    <simple-svg :src="iconSrc"/>
  </span>
</template>

<script>
export default {
  name: 'SocialIcons',
  props: {
    iconSrc: {
      type: String,
      required: true,
    },
  },
};
</script>
