<template>
  <div class="accordion">
    <div class="accordion__list">
      <div class="accordion__item"
       :class="setClass(item)"  :key="item.title + i"
       v-for="(item, i) in items" @click="openItem(item)">
        <div class="accordion__item-title h3">{{item.title}}</div>
        <transition @enter="enter" @leave="leave">
          <div v-show="item.isopen"
               class="accordion__item-content" v-html="item.content"/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import Velocity from 'velocity-animate';

export default {
  name: 'acordion',
  props: {
    items: {
      type: Array,
      default: [
        {
          title: '',
          content: '',
          isopen: false,
        },
      ],
      required: true,
    },
  },
  methods: {
    openItem(item) {
      item.isopen = !item.isopen;
      this.items.map((el) => {
        if (el !== item) {
          el.isopen = false;
        }
      });
    },

    setClass(el) {
      if (el.isopen === true) {
        return 'open';
      }
      return 'close';
    },

    enter(el, done) {
      Velocity(el, 'slideDown', {
        duration: 500,
        easing: 'ease',
      },
      { complete: done });
      //Velocity(el, 'scroll', { duration: 0, easing: 0, offset: -400 });
    },

    leave(el, done) {
      Velocity(el, 'slideUp', {
        duration: 600,
        easing: 'linear',
      },
      { complete: done });
    },
  },
};
</script>
