<template>
  <app-link :to="link" class="btn btn-primary"
            v-text="$ml.get($_t(text))"/>
</template>

<script>
import AppLink from './AppLink.vue';
export default {
  name: 'button-primary',
  components: { AppLink },
  props: {
    link: {
      type: String,
      default: '#',
    },
    text: {
      type: String,
      default: 'Get Started Now',
    },
  },
};
</script>
