<template>
    <div class="scroll-down__action">
      <button @click="nextSection" class="scroll-down">
        <simple-svg src="/src/assets/svg/next-section.svg"/>
      </button>
    </div>
</template>

<script>
import Velocity from 'velocity-animate';

export default {
  name: 'scroll-down',
  methods: {
    nextSection(e) {
      const scrollTo = e.target.closest('section').nextElementSibling.getBoundingClientRect().height;
      Velocity(document.body, 'scroll', {
        duration: 500,
        offset: scrollTo,
        easing: 'easeOutQuart',
      });
    },
  },
};
</script>
