<template>
  <div class="separator">
    <div v-if="!vertical"
        class="separator__inner separator__inner--horizontal"
         :style="`max-width:${width}px`"></div>
    <div v-else class="separator__inner separator__inner--verticale"
         :style="`max-width:${width}px`"></div>
  </div>
</template>

<script>
export default {
  name: 'separator',
  props: {
    width: {
      type: [String, Number],
      default: 190,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

