.main-banner {
    position: relative;

    padding: 11rem 0 3rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:not(.main-banner--home) {
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 40rem;

        text-align: center;

        .main-banner__description {
            max-width: 46.875rem;
            margin: 0 auto;
        }

        & .separator {
            margin-bottom: 1.875rem;

            &__inner {
                margin: auto;
            }
        }

        @include media-breakpoint-down(xl) {
            min-height: auto;
        }

        @include media-breakpoint-down(lg) {
            padding: 6rem 0 2rem;
        }
    }

    &--home {
        display: flex;
        align-items: center;

        min-height: 100vh;
        padding-bottom: 5.65rem;

        background-image: url('../assets/img/home-banner.jpg');

        & .main-title {
            max-width: 55rem;
        }

        & .main-banner__description {
            max-width: $desine-max-widths-md;
        }

        @include media-breakpoint-down(lg) {
            padding: 7rem 0;
        }
    }

    &__content-title {
        margin-bottom: 1.25rem;
    }

    & .main-banner__description {
        margin-bottom: 1.875rem;
    }

    & .main-banner__action {
        margin-bottom: 1.875rem;
    }
}
