.main-footer {
    padding: 2.5rem 0 1.25rem;

    color: $footer-color;
    background-color: $footer-bg;

    * {
        font-family: $footer-font-family;
    }

    & .payment {
        margin: 1.25rem 0;
        padding: 1.25rem 0 .625rem;

        border-width: .125rem 0;
        border-style: solid;
        border-color: #ffffffa6;

        &__item {
            display: inline-block;

            margin-right: 1.25rem;
            margin-bottom: .625rem;

            &:hover {
                & svg path {
                    opacity: .75;
                }
            }
        }
    }

    & .copy {
        font-family: $headings-font-family;
    }

    & .footer-widget {
        &--first {
            margin-bottom: 1rem;
        }

        @include media-breakpoint-down(lg) {
            &--first {
                order: 1;
            }

            &--four {
                order: 2;
            }
        }
    }
}

.footer-menu {
    & .menu-item {
        display: block;

        margin-bottom: 0;
        padding-bottom: 1rem;

        font-size: $footer-nav-font-size;
        font-weight: $footer-nav-font-weight;
        line-height: 1.6;

        & a {
            text-decoration: none;

            transition: $footer-anim;

            &:not(.arrow-children) {
                color: $footer-nav-color;

                &:hover {
                    color: $footer-nav-hover;
                }
            }
        }
    }

    & .sub-menu {
        padding-top: 1rem;
        padding-left: 0;

        list-style: none;

        & > li {
            display: flex;
            align-items: center;

            &::before {
                width: .375rem;
                height: .375rem;
                margin-right: .675rem;

                content: '';

                border-radius: 50%;
                background: $footer-nav-hover;
            }
        }
    }

    & .arrow-children {
        color: $footer-nav-hover;

        transition: $footer-anim;

        &:hover {
            color: $footer-nav-color;
        }

        &::before {
            display: none;
        }
    }

    @include media-breakpoint-down(xl) {
        padding: 0;
    }
}

.footer-social {
    & .social-icon {
        margin-right: 1rem;
        margin-bottom: .625rem;
    }

    & a:hover {
        & svg {
            & path {
                fill: $white;

                transition: $footer-anim;
            }

            & rect {
                transition: $footer-anim;
                stroke: $white;
            }
        }
    }
}
