.main-header {
    position: absolute;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 1rem;

    background: transparent;

    &__logo {
        flex: 0 0 17.5rem;

        width: 100%;
        max-width: 17.5rem;
    }

    &__nav {
        flex: 0 0 calc(100% - 17.5rem);

        width: 100%;
        max-width: calc(100% - 17.5rem);
    }

    &.fixed-menu {
        position: fixed;

        display: flex;
        align-items: center;

        height: 5.32rem;

        background: $header-fixed-bg;

        & > a {
            font-size: .95rem;
        }

        & .main-logo {
            padding-bottom: .5rem;

            & svg {
                width: 13.75rem;
                height: auto;
            }
        }

        & .main-header__nav .main-menu .menu-item > a {
            padding-top: 1.25rem;
        }
    }

    .login {
        font-size: $header-login-font-size;

        color: $header-login-color;

        a {
            font-size: inherit;
            text-transform: uppercase;
        }
    }

    &,
    & a {
        font-family: $header-link-font-family;
        font-size: $header-link-font-size;
        font-weight: $header-link-font-weight;
    }

    &__row {
        justify-content: space-between;
        align-items: flex-end;
    }

    &__widget {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding-bottom: .75rem;
    }

    & .arrow-children::before {
        border-color: $header-arrow-color;
    }

    @include media-breakpoint-down(xxl) {
        & .main-menu .menu-item > a {
            padding-right: .8rem;
            padding-left: .6rem;

            &.arrow-children::before {
                right: .2rem;
            }
        }

        &__logo {
            flex: 0 0 13.75rem;

            max-width: 13.75rem;
        }

        &__nav {
            flex: 0 0 calc(100% - 13.75rem);

            max-width: calc(100% - 13.75rem);
        }

        .main-logo svg {
            width: 13.75rem;
        }
    }

    @include media-breakpoint-down(xl) {
        &__nav {
            flex: 0 0 calc(100% - 11.75rem);

            max-width: calc(100% - 11.75rem);
        }

        .main-logo svg {
            width: 11.75rem;
        }

        &__logo {
            flex: 0 0 11.75rem;

            max-width: 11.75rem;
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 1rem;

        &__nav {
            &-container {
                position: fixed;
                right: 0;
                bottom: 0;

                width: 20rem;
                padding: 1rem;

                background-color: $header-fixed-bg;
            }
        }

        &__widget {
            flex-direction: column-reverse;
            align-items: flex-start;

            & .login {
                width: 100%;
                padding-bottom: 1rem;
            }
        }

        & .main-menu .menu-item > a {
            width: 100%;
            margin-bottom: 0;
            padding: 0 0 1rem;
        }
    }
}
