.modal {
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: $modal-bg;

    &-container {
        position: absolute;
        top: 7.5rem;
        right: 0;
        left: 0;

        width: 100%;
        max-width: $modal-container-width;
        margin: 2rem auto;

        @include media-breakpoint-down(md) {
            top: 1.5rem;

            max-width: 90%;
        }

        &.success {
            max-width: 30.625rem;

            .modal-inner {
                padding: 3.125rem;

                @include media-breakpoint-down(md) {
                    padding: 1rem 1.5rem 2rem;
                }
            }

            .sub-title {
                font-size: 1.25rem;
                letter-spacing: .36rem;
                text-transform: uppercase;

                color: $dark;
            }

            @include media-breakpoint-down(md) {
                max-width: 90%;
            }
        }
    }

    &-inner {
        padding: $modal-container-padding;

        border-radius: .31rem;
        background: $modal-container-bg;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .15);

        @include media-breakpoint-down(md) {
            padding: 1rem 1.5rem 2rem;
        }
    }

    &-heading {
        padding: .5rem 0 1.25rem;
    }

    .description {
        padding-bottom: 1rem;
    }

    .sub-title {
        text-transform: capitalize;
    }
}

.close-modal {
    &-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding: 1rem 0;

        cursor: pointer;
        text-align: right;

        color: #fff;
    }

    &-btn {
        position: relative;

        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1rem;

        border: .125rem solid $white;
        border-radius: 50%;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;

            display: inline-block;

            width: 1.25rem;
            height: .125rem;
            margin: auto;

            content: '';

            background: $white;

            transition: .3s ease;
        }

        &::before {
            transform: translateY(-50%) rotate(50deg);
        }

        &::after {
            transform: translateY(-50%) rotate(-50deg);
        }

        &:hover {
            &::after,
            &::before {
                width: .75rem;
            }
        }
    }
}
