.main-nav {
    &--header {
        margin: 0 auto;

        & > ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: $nav-pading;

            list-style: none;

            @include media-breakpoint-down(xxl) {
                padding: 0 .75rem;
            }

            @include media-breakpoint-down(lg) {
                display: list-item;

                padding: 0;
            }
        }
    }
}

.main-menu {
    & ul {
        list-style: none;
    }

    & .sub-menu {
        position: absolute;
        top: 100%;

        display: none;

        @include media-breakpoint-down(lg) {
            position: static;
        }

        & .arrow-children::before {
            display: none;
        }

        & > .menu-item > a {
            display: inline-block;

            width: 100%;
            padding: .5rem 1.25rem;

            color: $nav-item-link-hover-color;
            background: $nav-item-hover-background;

            &:hover {
                background: $nav-item-hover-background-childeren;
            }
        }
    }

    & .menu-item {
        position: relative;

        &-has-children {
            & > a {
                margin-bottom: 0;
            }

            .main-header__row > div:not(.main-header__nav--mobile) &:hover,
            &.active {
                & > .sub-menu {
                    display: block;
                }
            }
        }

        & > .sub-menu {
            left: .75rem;

            width: 15.6rem;
            padding-left: 0;

            & > .menu-item {
                & > .sub-menu {
                    left: 1.5rem;
                }

                @include media-breakpoint-down(lg) {
                    background: transparent;
                }
            }
        }
    }

    & > .menu-item {
        & a {
            text-decoration: none;

            color: $nav-item-link-color;
        }

        & > a {
            position: relative;

            display: inline-block;

            margin: $nav-item-first-level-margin;
            padding: $nav-item-first-level-pading;

            transition: $nav-animation;

            &.arrow-children::before {
                right: .3rem;
                bottom: 1rem;
            }

            &::after {
                position: absolute;
                bottom: -.375rem;
                left: 0;

                display: inline-block;
                visibility: hidden;

                width: 100%;
                height: .125rem;

                content: '';

                opacity: 0;
                background: $nav-item-hover-background;

                transition: $nav-animation;
            }
        }

        &.active > a,
        & > a:hover {
            text-decoration: none;

            color: $nav-item-link-hover-color;
            background: $nav-item-hover-background;

            &::before {
                visibility: hidden;

                opacity: 0;
            }

            &::after {
                visibility: visible;

                opacity: 1;
            }

            @include media-breakpoint-down(lg) {
                color: $primary;
                background: transparent;

                &::after {
                    bottom: 0;
                }

                &::before {
                    visibility: visible;

                    opacity: 1;
                }
            }
        }
    }
}

.menu-item--current-page {
    & > a {
        color: $primary !important;

        &:hover {
            color: $white !important;
        }
    }

    .main-nav ul:not(.footer-menu) .menu-item-has-children & > a {
        color: $gray-900 !important;

        &:hover {
            color: $white !important;
            background: $nav-item-hover-background-childeren;
        }
    }
}

.nav-language {
    position: relative;

    width: 5.625rem;
    margin-right: 2.5rem;

    font-size: $font-size-base;
    font-weight: 800;

    border-radius: .35rem;
    background: $nav-language-bg;

    @include media-breakpoint-down(xl) {
        margin-right: .75rem;
    }

    &__active {
        padding: .35rem 1rem .35rem 1.25rem;
    }

    &__list {
        position: absolute;
        z-index: $zindex-dropdown;
        top: 100%;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        border-bottom-right-radius: .35rem;
        border-bottom-left-radius: .35rem;
        background: $nav-language-bg;
    }

    &__item {
        padding: .35rem 2.5rem .35rem 1.25rem;
    }

    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    & * {
        color: $nav-language-color;
    }

    & .arrow-children::before {
        top: .9rem;
    }
}
