<template>
    <div class="home-page content-page">
        <home-banner/>
        <services-section/>
        <manage-finances/>
        <section-about/>
        <register-account-section/>
    </div>
</template>

<script>
import HomeBanner from './organisms/HomeBanner.vue';
import ServicesSection from './organisms/ServicesSection.vue';
const ManageFinances = () => import(
  /* webpackChunkName: "manage-finances" */ './organisms/ManageFinances.vue'
  );
const SectionAbout = () => import(
  /* webpackChunkName: "section-about" */ './organisms/SectionAbout.vue'
  );
const RegisterAccountSection = () => import(
  /* webpackChunkName: "register-account-section" */ './organisms/RegisterAccount.vue'
  );

export default {
  name: 'Home',
  components: {
    RegisterAccountSection,
    SectionAbout,
    ManageFinances,
    ServicesSection,
    HomeBanner,
  },
};
</script>
