<template>
  <footer id="main-footer" class="main-footer">
    <div class="container">
      <div class="row">
        <footer-widget-first class="col-xl-3 col-md-6"/>
        <footer-widget-second class="col-xl-2 col-mob-6"/>
        <footer-widget-three class="col-xxl-2 col-xl-3 col-mob-6"/>
        <footer-widget-four class="col-xxl-5 col-xl-4 col-md-6"/>
      </div>
    </div>
  </footer>
</template>

<script>
import FooterWidgetFirst from './organism/FooterWidgetFirst.vue';
import FooterWidgetSecond from './organism/FooterWidgetSecond.vue';
import FooterWidgetThree from './organism/FooterWidgetThree.vue';
import FooterWidgetFour from './organism/FooterWidgetFour.vue';

export default {
  name: 'main-footer',
  components: {
    FooterWidgetFour, FooterWidgetThree, FooterWidgetSecond, FooterWidgetFirst,
  },
};
</script>
