<template>
  <div class="col-lg-7 best-services__right-content">
    <div class="best-services__img">
      <img src="../../../../../assets/img/best_services.jpg" alt="best-services">
    </div>
  </div>
</template>

<script>
export default {
  name: 'BestServicesRightContent',
};
</script>
