<template>
  <div class="col-lg-5 best-services__left-content">
    <div class="best-services__content-inner">
      <h2 v-html="$ml.get($_t(title))"/>
      <div class="best-services__list">
        <div class="best-services__item">
          <div class="best-services__item-inner"
               v-for="(item, i) in servicesItem"
                :key="i">
            <h3 class="best-services__item-title" v-text="$ml.get($_t(item.title))"/>
            <div class="best-services__item-description" v-text="item.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BestServicesLeftContent',
  data() {
    return {
      title: 'Lorem ipsum dolor sit amet best service just for you',
      servicesItem: [
        {
          title: 'No charges for international payments',
          description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.',
        }, {
          title: 'No charges for international payments',
          description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.',
        }, {
          title: 'No charges for international payments',
          description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.',
        },
      ],
    };
  },
};
</script>
