<template>
    <header  id="main-header" class="main-header"
             ref="mainHeader"
             :class="{'fixed-menu': fixedMenu}">
        <div class="container">
            <div class="row main-header__row">
                <logo-header class="main-header__logo"/>

                <div class="d-flex main-header__row main-header__nav" v-if="windowW >= 1200">
                  <MainMenu class="main-nav--header" class-menu="main-menu"/>
                  <HeaderWidget/>
                </div>

                <div class="main-header__nav--mobile" v-click-outside="hideMenu" v-else>
                  <div class="main-header__action">
                    <button class="toggle-menu"
                            :class="{active: isMenuMobile}"
                            @click="isMenuMobile = !isMenuMobile">
                      <span class="toggle-menu__line"/>
                    </button>
                  </div>
                  <transition @enter="enter" @leave="leave">
                  <div class="main-header__nav-container custom-scroll-y"
                       :style="`top:${posMenuY}px`"
                       v-show="isMenuMobile">
                    <div class="main-header__nav-inner">
                      <MainMenu class="main-nav--header" class-menu="main-menu"/>
                      <HeaderWidget/>
                    </div>
                  </div>
                  </transition>
                </div>

            </div>
        </div>
    </header>
</template>

<script>
import Velocity from 'velocity-animate';
import MainMenu from '../navigation/organism/MainMenu.vue';
import HeaderWidget from './organism/HeaderWidget.vue';
import LogoHeader from './organism/LogoHeader.vue';


export default {
  name: 'MainHeader',
  components: {
    LogoHeader,
    HeaderWidget,
    MainMenu,
  },
  data() {
    return {
      fixedMenu: false,
      windowW: undefined,
      isMenuMobile: false,
      posMenuY: 200,
    };
  },
  methods: {
    editMenuY() {
      this.posMenuY = this.$refs.mainHeader.offsetHeight;
    },
    getWindowW() {
      this.windowW = window.innerWidth;
      if (window.innerWidth > 1200) {
        this.isMenuMobile = false;
      }
    },
    enter(el, done) {
      this.editMenuY();
      Velocity(el, {
        translateX: ['0%', '150%'],
        top: `${(this.posMenuY - 1)}px`,
        opacity: 1,
      }, {
        easing: 'linear',
      }, { complete: done });
    },

    leave(el, done) {
      Velocity(el, {
        translateX: '150%',
        top: '200px',
        opacity: 0,
      }, {
        easing: 'ease-out',
      }, { complete: done });
    },
    hideMenu() {
      this.isMenuMobile = false;
    },
  },
  watch: {
    $route() {
      this.hideMenu();
    },
  },
  mounted() {
    window.addEventListener('scroll', () => {
      this.fixedMenu = window.scrollY >= 100;
      this.editMenuY();
    });
    this.editMenuY();
    this.getWindowW();
    window.addEventListener('resize', this.getWindowW);
  },
};
</script>
