// stylelint-disable declaration-no-important

// Common values
@each $position in $positions {
    .position-#{$position} {
        position: $position !important;
    }
}

// Shorthand

.fixed-top {
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    right: 0;
    left: 0;
}

.fixed-bottom {
    position: fixed;
    z-index: $zindex-fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.sticky-top {
    @supports (position: sticky) {
        position: sticky;
        z-index: $zindex-sticky;
        top: 0;
    }
}
