<template>
  <div class="about-block-services">
    <div class="container">
      <h2 class="accent-title dark-context">
        <span class="accent-color">MONEY TRANSFERS </span> <br/>
        WITHOUT BORDERS
      </h2>
      <div class="row about-services__list row-cols-xxl-5">
        <about-services-item v-for="(item, i) in items"
        :key="item.title + i" :title="item.title"
        :description="item.description" :svg-src="item.svgSrc"/>
      </div>
    </div>
  </div>
</template>

<script>
import AboutServicesItem from '../molecules/AboutServicesItem.vue';

export default {
  name: 'about-block-services',
  components: { AboutServicesItem },
  data() {
    return {
      items: [
        {
          title: 'SEPA payments at fixed cost',
          description: 'Send payments within European Union at a fixed low cost',
          svgSrc: '/src/assets/svg/devices.svg',
        },
        {
          title: 'Transfers to ATM cards',
          description: 'Load your ATM debit cards from your business account',
          svgSrc: '/src/assets/svg/devices.svg',
        },
        {
          title: 'Trade with your customers in Europe',
          description: 'Receive payments from other companies in Europe and beyond',
          svgSrc: '/src/assets/svg/devices.svg',
        },
        {
          title: 'Convert between currencies',
          description: 'Easily convert between currencies at low exchange rates',
          svgSrc: '/src/assets/svg/devices.svg',
        },
      ],
    };
  },
};
</script>
