<template>
  <div class="about-block__accordion">
    <div class="container">
      <div class="row">
        <about-block-left/>
        <about-block-right/>
      </div>
    </div>
  </div>
</template>

<script>
import AboutBlockLeft from '../molecules/AboutBlockLeft.vue';
import AboutBlockRight from '../molecules/AboutBlockRight.vue';

export default {
  name: 'AboutBlockAccordion',
  components: { AboutBlockRight, AboutBlockLeft },
};
</script>
