<template>
  <section class="main-banner main-banner--home bg-overlay">
    <div class="container dark-context">
      <div class="main-banner__content">
        <div class="d-flex main-banner__content-title section-heading">
          <separator :vertical="true"/>
          <h1 class="main-title"
              v-text="$ml.get($_t(banner.title))" />
        </div>
          <div class="main-banner__description h3" v-text="$ml.get($_t(banner.desc))" />
          <div class="main-banner__action">
            <button-primary/>
          </div>
      </div>
    </div>
    <transition  @enter="enter" @leave="leave">
      <scroll-down v-show="isScrollDown"/>
    </transition>
  </section>
</template>

<script>
import Velocity from 'velocity-animate';
import Separator from '../../../helpers/Separator.vue';
import ScrollDown from '../../../helpers/ScrollDown.vue';
import ButtonPrimary from '../../../helpers/ButtonPrimary.vue';

export default {
  name: 'home-banner',
  components: { ButtonPrimary, ScrollDown, Separator },
  data() {
    return {
      banner: {
        title: 'Providing accounts for businesses to send & receive money',
        desc: 'Issue of IBAN accounts and debit cards. Assistance with transfers and crypto conversions',
      },
      isScrollDown: true,
    };
  },
  methods: {
    scrollTop() {
      this.isScrollDown = window.scrollY <= 200;
    },
    enter(el, done) {
      Velocity(el, 'slideDown', {
        duration: 400,
      },
      { complete: done });
    },

    leave(el, done) {
      Velocity(el, 'slideUp', {
        duration: 400,
      },
      { complete: done });
    },
  },
  mounted() {
    window.addEventListener('scroll', this.scrollTop);
  },
};
</script>
