<template>
  <section class="manager-app">
    <div class="container">
      <div class="row align-items-center">
        <manager-app-left-block/>
        <manager-app-right-block/>
      </div>
    </div>
  </section>
</template>

<script>
import ManagerAppLeftBlock from '../molecules/ManagerAppLeftBlock.vue';
import ManagerAppRightBlock from '../molecules/ManagerAppRightBlock.vue';

export default {
  name: 'manager-app',
  components: { ManagerAppRightBlock, ManagerAppLeftBlock },
};
</script>
