<template>
  <section class="manage-finances manage-finances-section">
    <div class="container">
      <div class="row">
        <manage-finances-left/>
        <manage-finances-right/>
      </div>
    </div>
  </section>
</template>

<script>
import ManageFinancesLeft from '../molecules/ManageFinancesLeft.vue';
import ManageFinancesRight from '../molecules/ManageFinancesRight.vue';

export default {
  name: 'ManageFinances',
  components: { ManageFinancesRight, ManageFinancesLeft },
};
</script>
