<template>
  <section id="register-account" class="register-account register-account-section">
    <div class="container-fluid">
      <div class="row">
        <register-account-left-block class="register-account__left-block"/>
        <register-account-right-block class="register-account__right-block"/>
      </div>
    </div>
  </section>
</template>

<script>
import RegisterAccountLeftBlock from '../molecules/RegisterAccountLeftBlock.vue';
import RegisterAccountRightBlock from '../molecules/RegisterAccountRightBlock.vue';

export default {
  name: 'register-account-section',
  components: { RegisterAccountRightBlock, RegisterAccountLeftBlock },
};
</script>
