<template>
  <section class="about-section">
    <about-block-accordion/>
    <about-block-services/>
  </section>
</template>

<script>
import AboutBlockAccordion from './AboutBlockAccordion.vue';
import AboutBlockServices from './AboutBlockServices.vue';

export default {
  name: 'section-about',
  components: { AboutBlockAccordion, AboutBlockServices },
};
</script>
