<template>
  <section id="services-section" class="services services-section">
    <div class="container">
      <div class="row">
        <services-item v-for="(item, i) in content"
          :title="item.title"
          :description="item.description" :svg-src="item.icon" :key="item.title + i"/>
      </div>
    </div>
  </section>
</template>

<script>
import ServicesItem from '../molecules/ServicesItem.vue';

export default {
  name: 'services-section',
  components: { ServicesItem },
  data() {
    return {
      content: [
        {
          title: 'Business Money Transfers',
          description: 'Receive payments from customers <br /> Send payments to your business partners',
          icon: '/src/assets/svg/devices.svg',
        },
        {
          title: 'Free ATM Debit Card',
          description: 'Use the cards to withdraw funds from your account <br />  Pay salaries and commissions',
          icon: '/src/assets/svg/card.svg',
        },
        {
          title: 'Own IBANs to receive multiple currencies',
          description: 'Your individual bank account with ability to convert between currencies',
          icon: '/src/assets/svg/multiple-currencies.svg',
        },
        {
          title: 'Use your account for B2B transfers',
          description: 'Use your account to pay to your staff and for business expenses',
          icon: '/src/assets/svg/transfers.svg',
        },
      ],
    };
  },
};
</script>
