<template>
  <form @submit.prevent="hanlearForms">
    <input type="hidden" id="g-recaptcha-response"
           name="g-recaptcha-response" v-model="form.recaptcha">
    <div class="form-group">
      <div>
        <input type="text"
               name="name"
               class="form-control"
               id="user-name"
               placeholder="Enter your name"
               v-model="form.name"/>
      </div>
    </div>
    <div class="form-group">
      <div>
        <input type="email" name="email"
               required
               class="form-control" id="user-email"
               placeholder="example@email.com" v-model="form.email"/>
      </div>
    </div>
    <div class="form-group">
      <div>
        <textarea name="message" id="user-message" cols="30" rows="4"
                  class="form-control"  placeholder="Type your messsage..." v-model="form.message">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100"
            :class="{'disabled': isLoading}"
            :disabled="isLoading"
            v-text="$ml.get('send')"/>
  </form>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ContactForm',
  data() {
    return {
      isLoading: false,
      form: {
        name: '',
        email: '',
        message: '',
        recaptcha: '',
      },
    };
  },
  methods: {
    hanlearForms() {
      this.isLoading = true;
      const data = new FormData();
      for (const key in this.form) {
        data.append(key, this.form[key]);
      }
      axios({
        method: 'post',
        url: '/send-mail.php',
        data,
      }).then((res) => {
        if (res.status < 300) {
          if (res.data.success) {
            this.$emit('success', true);
          } else {
            console.error('Access denied');
          }
        } else {
          throw new Error(res.statusText);
        }
      }).finally(() => {
        this.isLoading = false;
      });
    },
  },
  mounted() {
    grecaptcha.ready(() => {
      grecaptcha.execute('6Lf3I8sUAAAAABsOch2JCPf4Cy8adXrQTGtqBVvy', { action: 'validate_captcha' })
        .then((token) => {
          this.form.recaptcha = token;
        });
      setInterval(() => {
        grecaptcha.execute('6Lf3I8sUAAAAABsOch2JCPf4Cy8adXrQTGtqBVvy', { action: 'validate_captcha' })
          .then((token) => {
            if (this.form.recaptcha.length) {
              this.form.recaptcha = token;
            } else {
              console.error('recaptcha_token does not exist on email_form');
            }
          });
      }, 60000);
    });
  },
};
</script>
