<template>
  <div>
    <div class="form-success__icon">
      <simple-svg src="/src/assets/svg/success-true.svg"/>
    </div>
    <div class="text-center section-heading modal-heading">
      <h3 class="section-title accent-h3 accent-color" v-text="$ml.get($_t('Thank YOU'))"/>
      <div class="h3 sub-title" v-text="$ml.get($_t('for contacting'))"/>
    </div>
    <div class="description" v-text="$ml.get($_t('lorem-desc'))"/>
  </div>
</template>

<script>
export default {
  name: 'FormSuccessTrue',
}
</script>
