<template>
  <div class="not-found-page content-page">
    <g-banner title="Page not found" banner-img-name="bg-404.jpg"
              button-text="Go Back" :button-url="prevRoute"/>
  </div>
</template>

<script>
import GBanner from '../../banner/Banner.vue';

export default {
  name: 'NotFound',
  components: { GBanner },
  data() {
    return {
      prevRoute: '/',
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.prevRoute = from.path;
    });
  },
};
</script>
