<template>
  <div id="content" class="site-content">
    <main id="site_main" class="main-content">
      <main-header ref="mainHeader"/>
      <transition
                  appear
                  :name="transitionName"
                  @beforeLeave="beforeLeave"
                  @enter="enter"
                  @afterEnter="afterEnter"
                  mode="out-in">
        <router-view/>
      </transition>
      <main-footer/>
    </main>
  </div>
</template>

<script>


  import MainHeader from './components/header/MainHeader.vue';
  const MainFooter = () => import(
    /* webpackChunkName: "main-footer" */ './components/footer/MainFooter.vue'
    );

  export default {
    name: 'App',
    components: { MainFooter, MainHeader },
    data() {
      return {
        prevHeight: 100,
        leaveRoute: false,
        transitionName: 'fade',
      };
    },
    methods: {
      beforeLeave(el) {
        this.prevHeight = getComputedStyle(el).height;
      },
      enter(el) {
        const { height } = getComputedStyle(el);

        el.style.height = this.prevHeight;

      },
      afterEnter(el) {
        el.style.height = 'auto';
      },
    },
    created() {
        this.$router.beforeEach((to, from, next) => {
        const toDepth = to.path.split('').length;
        const fromDepth = from.path.split('').length;
        this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
        next();
      });
    },
  };
</script>

