.about-services {
    &-section {
        padding: 5.625rem 0;

        background: url('../assets/img/bg-abaut-services.jpg') 50% / cover no-repeat;

        @include media-breakpoint-down(lg) {
            padding: 2.5rem 0 3.5rem;
        }

        @include media-breakpoint-down(sm) {
            padding: 1.5rem 0 2rem;
        }

        .about-services {
            &__item {
                min-height: 350px;
                padding: 0 15px;
            }

            &__inner {
                padding: 50px 60px;
            }
        }
    }
}

.why-arcanum {
    @include media-breakpoint-up(lg) {
        & > .container {
            max-width: 100%;
        }
    }

    &-img {
        flex: 0 0 35.65%;

        width: 100%;
        max-width: 35.55%;

        @include media-breakpoint-down(md) {
            padding-top: 1.5rem;

            text-align: center;
        }
    }

    &-content {
        flex: 0 0 64.45%;

        width: 100%;
        max-width: 64.45%;
        padding: 3.125rem 12.2rem 3.125rem 3.125rem;

        @include media-breakpoint-down(md) {
            padding: 1.125rem 1rem 2.125rem;
        }
    }

    &-img,
    &-content {
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;

            max-width: 100%;
        }
    }
}

.best-services {
    padding: 4.375rem 0;

    &__img {
        position: relative;

        display: inline-block;

        padding-top: 2.5rem;
        padding-right: 2.5rem;

        &::after,
        &::before {
            position: absolute;
            z-index: -1;

            display: block;

            width: calc(100% - 2.5rem);
            height: calc(100% - 2.5rem);

            content: '';

            border: .125rem solid #ffc212;
            border-radius: .625rem;
        }

        &::before {
            top: 0;
            right: 0;
        }

        &::after {
            top: 1.25rem;
            right: 1.25rem;
        }

        @include media-breakpoint-down(md) {
            padding-top: 1.5rem;
            padding-right: 1.5rem;

            &::after {
                top: .75rem;
                right: .75rem;
            }
        }
    }

    &__right-content {
        text-align: right;
    }

    &__item {

        &-title {
            margin-bottom: .625rem;
        }

        &-inner {
            position: relative;

            margin-bottom: 1rem;
            padding: 1.25rem 2.25rem;

            border-radius: 0 .3125rem .3125rem 0;
            background: #fff;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

            &::before,
            &::after {
                position: absolute;

                display: block;

                content: '';

                background: #ffc212;
            }

            &::before {
                top: 0;
                left: 0;

                width: .375rem;
                height: 100%;
            }

            &::after {
                top: 1.8rem;
                left: .375rem;

                width: .625rem;
                height: .625rem;
            }

            @include media-breakpoint-down(md) {
                padding: 1rem 1.5rem;
            }
        }

        &-description {
            color: $gray-600;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 2rem 0 3rem;

        &__left-content {
            order: 2;

            padding-top: 1rem;
        }
    }
}

.register-account-about {
    padding: 2.375rem 0;

    background: url('../assets/img/about_register_bg.jpg') 50% / cover no-repeat;

    &__left-block {
        display: flex;
        align-items: center;

        & .section-heading {
            margin-bottom: 1.25rem;
        }
    }

    &__right-block {
        display: flex;
        flex-wrap: wrap;

        & .advantages {
            flex: 0 0 35%;

            width: 100%;
            max-width: 35%;
            padding: 1rem;

            text-align: center;

            &__inner {
                height: 100%;
                padding: 2.5rem 1.25rem;

                border-radius: 10px;
                background: rgba(255, 255, 255, .9);
                box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
            }

            &__title {
                font-weight: 700;
                line-height: 1.5;
            }

            @include media-breakpoint-down(xl) {
                flex: 0 0 45%;

                max-width: 45%;
            }

            @include media-breakpoint-down(md) {
                flex: 0 0 50%;

                max-width: 50%;

                &__inner {
                    padding: 1.5rem .725rem;
                }
            }

            @include media-breakpoint-down(mob) {
                flex: 0 0 100%;

                max-width: 100%;
                padding-right: 0;
                padding-left: 0;
            }
        }

        @include media-breakpoint-down(mob) {
            justify-content: center;
        }
    }
}
