.contact-page {
    .main-banner {
        align-items: flex-end;

        padding-bottom: 10.5rem;
    }
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: -12.4rem;
    padding-bottom: 4.375rem;

    @include media-breakpoint-down(md) {
        padding-bottom: 2rem;
    }
}

.contacts__item {
    padding-bottom: 1rem;

    &-inner {
        width: 100%;
        height: 100%;
        padding: 1.875rem 1.25rem 2.5rem;

        text-align: center;

        border-radius: .35rem;
        background: $white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
    }

    &-title {
        padding: 1rem 0;

        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &-list {
        &-item {
            font-size: 1.5rem;

            & a {
                color: $gray-600;

                &:hover {
                    color: $gray-700;
                }
            }

            @include media-breakpoint-down(xl) {
                font-size: 1.25rem;
            }
        }
    }
}

.contact-forms {
    &__block {
        &-left {
            background: url(../assets/img/contact-from-img-left.jpg) 50% 0 / cover no-repeat;
        }

        &-right {
            background: url(../assets/img/contact-from-img-right.jpg) 0 / cover no-repeat;
        }

        &-inner {
            padding: 6.75rem 8.125rem;

            @include media-breakpoint-down(lg) {
                padding: 2.75rem 3rem;
            }

            @include media-breakpoint-down(sm) {
                padding: 1.25rem 0 2rem;
            }
        }
    }

    &__form-block {
        max-width: 22.5rem;
        padding-top: 1.25rem;

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }
    }
}
