.acardion-faq {
    padding: 4.375rem 0;

    & > .container {
        max-width: 1040px;
    }

    & .accordion__item {
        padding: 0;

        border-radius: .375rem;

        &::before {
            display: none;
        }

        &-title {
            position: relative;

            padding: 1.25rem 3.75rem  1.25rem 1.875rem;

            border-radius: .375rem .375rem 0 0;

            &::before,
            &::after {
                position: absolute;

                display: block;

                content: '';
            }

            &::before {
                top: 50%;
                right: 1.25rem;

                width: 1.875rem;
                height: 1.875rem;

                border-radius: 50%;
                background: $primary;

                transform: translateY(-50%);
            }

            &::after {
                top: calc(50% - 2px);
                right: 2.1rem;

                padding: .125rem;

                color: $dark;
                border: solid;
                border-width: 0 .125rem .125rem 0;

                transition: .3s linear;
                transform: rotate(45deg) translateY(-50%);
            }

            @include media-breakpoint-down(md) {
                padding: .75rem 2.75rem  .75rem 1.375rem;

                &::before {
                    right: .75rem;
                }

                &::after {
                    right: 1.6rem;
                }
            }
        }

        &-content {
            padding: 1.875rem 3.125rem 2.125rem;

            @include media-breakpoint-down(md) {
                padding: .75rem 1.375rem 1rem;
            }
        }

        &.open {
            & .accordion__item {
                &-title {
                    color: $white;
                    background: $primary;

                    &::before {
                        background: $white;
                    }

                    &::after {
                        top: 45%;
                        right: 1.85rem;

                        color: $primary;

                        transform: rotate(-135deg) translateY(-50%);

                        @include media-breakpoint-down(md) {
                            right: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 3rem 0 3.5rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 1.5rem 0 2rem;
    }
}
