.about-section {
    position: relative;

    padding-top: 6.75rem;

    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;

        height: 100%;

        content: '';

        background: $primary;
    }

    &::before {
        left: calc(50% - 23.5rem);

        width: 17.5rem;
    }

    &::after {
        left: calc(50% - 5rem);

        width: 1rem;
    }

    &::before,
    &::after {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    & .about-block {
        &__img {
            margin-top: -1.25rem;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &-services {
            padding: 18.75rem 0 6.25rem;

            background: url('../assets/img/about-services-bg-home.png') 50% 0/ cover no-repeat;

            @include media-breakpoint-down(xl) {
                margin-top: -18.75rem;
                padding-bottom: 3rem;

                & .accent-title {
                    padding-top: 1rem;

                    text-shadow: -.1rem .15rem .325rem $dark;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 4.5rem;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 2rem;
    }
}

.about-services {
    &__list {
        justify-content: center;
    }

    &__inner {
        height: 100%;
        padding: 2.5rem 1.25rem 1.875rem;

        text-align: center;

        border-radius: .625rem;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    }

    &__item {
        margin-top: 1rem;
        padding: 0 .625rem;
    }

    &__title {
        margin-bottom: .625rem;

        font-weight: $font-weight-bold;
    }

    &__img {
        padding-bottom: 1rem;
    }

    &__content {
        color: $gray-600;
    }
}

.services-section {
    padding: 3.125rem 0;

    @include media-breakpoint-down(sm) {
        padding: 1rem 0 0;
    }
}

.services-item {
    text-align: center;

    &__inner {
        box-sizing: border-box;
        padding: 1.875rem 1.25rem 2.5rem;

        border: .125rem solid transparent;
        border-radius: .3125rem;

        transition: .5s ease;

        &:hover {
            border-color: $primary;

            & svg circle {
                fill: $primary;

                transition: .5s ease;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: .725rem 0 1.2rem;
        }
    }

    &__image {
        margin-bottom: 1rem;
    }

    &__description {
        color: $gray-600;
    }
}

.manager-app {
    padding: 2.5rem 0;

    background: url('../assets/img/create-account-bg.jpg') 50% / cover no-repeat;

    & .section-heading {
        padding-bottom: 1.25rem;
    }

    &__description {
        padding-bottom: 1.25rem;
    }

    &__action {
        & .btn {
            margin-right: 1.25rem;
            margin-bottom: .625rem;
        }
    }
}

.manage-finances {
    padding: 3.125rem 0;

    background: url('../assets/img/manage-finances-bg.jpg') 50% / cover no-repeat;

    @include media-breakpoint-down(sm) {
        padding: 1rem 0 1.5rem;
    }

    &__svg {
        circle {
            fill: $white;
        }

        path {
            fill: $primary;
        }

        @include media-breakpoint-down(sm) {
            border-radius: 50%;
            box-shadow: 0 0 .325rem;
        }
    }

    &__content {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;

        & .section-heading {
            padding-bottom: 2.5rem;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 1rem;
            padding-bottom: 1.5rem;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            padding-bottom: 1.875rem;

            @include media-breakpoint-down(sm) {
                padding-bottom: .725rem;
            }
        }

        &-icon {
            flex: 0 0 6.25rem;

            width: 100%;
            max-width: 6.25rem;

            @include media-breakpoint-down(sm) {
                padding-bottom: 1rem;
            }
        }

        &-title {
            margin-bottom: .3125rem;

            font-weight: 700;
        }

        &-content {

            flex-grow: 1;
            flex-basis: 0;

            max-width: 100%;
            padding: 0 1.25rem;
            -ms-flex-positive: 1;
            -ms-flex-preferred-size: 0;
        }

        &-icon,
        &-content {
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;

                max-width: 100%;

                text-align: center;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__icon {
            display: none;
        }
    }
}

.register-account {
    &__left-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        //padding-right: 7.125rem;

        background: $primary;

        & .advantages {
            flex: 0 0 14.375rem;

            width: 100%;
            max-width: 14.375rem;
            padding: 0 1rem;

            text-align: center;

            &__title {
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }
        }

        @include media-breakpoint-down(lg) {
            justify-content: center;

            padding: 1rem;
        }
    }

    &__right-block {
        padding: 2.5rem;

        & .section-heading {
            padding-bottom: 1.25rem;
        }

        @include media-breakpoint-down(sm) {
            & h2 {
                max-width: 70%;
            }
        }
    }

    @include media-breakpoint-down(md) {
        & > div > .row {
            flex-direction: column-reverse;
        }
    }
}
