<template>
  <section id="contact-forms"
           class="contact-forms contact-forms-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-5 d-none d-md-block contact-forms__block-left"></div>
        <div class="col-lg-6 col-md-7 contact-forms__block-right">
          <div class="contact-forms__block-inner">
            <div v-if="!responsTrue">
              <div class="d-flex section-heading">
              <separator :vertical="true"/>
              <div>
                <h3 class="section-title accent-h3" v-text="$ml.get($_t('contact us'))"/>
                <div class="h3 sub-title text-capitalize"
                     v-text="$ml.get($_t('If You have any questions'))"/>
              </div>
            </div>
            <contact-form @success="responsTrue = $event" class="contact-forms__form-block"/>
            </div>
            <div v-else class="text-center">
              <form-success-true/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Separator from '../../../helpers/Separator.vue';
import ContactForm from '../molecules/ContactForm.vue';
import FormSuccessTrue from '../molecules/FormSuccessTrue.vue';

export default {
  name: 'ContactFormsSection',
  components: { ContactForm, Separator, FormSuccessTrue },
  data() {
    return {
      responsTrue: false,
    };
  },
};
</script>
