<template>
  <div class="container">
    <div class="contacts__list">
      <div class="contacts__item col-xxl-3 col-xl-4 col-md-6"
           :key="i"
           v-for="(item, i) in contacts">
        <div class="contacts__item-inner">
          <simple-svg :src="item.iconUrl"/>
          <div class="contacts__item-title h4"
               v-text="$ml.get($_t(item.title))"/>
          <div class="contacts__item-list">
            <div class="contacts__item-list-item"
                 v-for="(listItem, index) in item.listContact" :key="index">
              <a :href="listItem.link" v-text="listItem.linkText"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactItems',
  data() {
    return {
      contacts: [
        {
          iconUrl: '/src/assets/svg/phone.svg',
          title: 'Phones',
          listContact: [
            {
              linkText: '+1-541-754-3010',
              link: 'tel:+15417543010',
            },
            {
              linkText: '+1-541-754-3010',
              link: 'tel:+15417543010',
            },
          ],
        },
        {
          iconUrl: '/src/assets/svg/email.svg',
          title: 'Email',
          listContact: [
            {
              link: 'mailto:hello@arcanumtransfer.eu',
              linkText: 'hello@arcanumtransfer.eu',
            },
          ],
        },
      ],
    };
  },
};
</script>
