<template>
  <section class="main-banner "
           :class="{'bg-overlay': isOverlay }"
           v-bind:style="`background-image: url(${loadImage()});`">
    <div class="main-banner__inner dark-context">
      <div class="main-banner__content">
          <div class="main-banner__content">
            <h1 class="main-title" v-text="$ml.get($_t(title))"/>
            <separator/>
            <div v-if="description"
                 class="main-banner__description h3" v-text="$ml.get($_t(description))"/>
            <div class="main-banner__action" v-if="isButton">
              <button-primary :text="buttonText" :link="buttonUrl"/>
            </div>
          </div>
      </div>
    </div>
  </section>
</template>

<script>
import Separator from '../helpers/Separator.vue';
import ButtonPrimary from '../helpers/ButtonPrimary.vue';

export default {
  name: 'g-banner',
  components: { ButtonPrimary, Separator },
  props: {
    bannerImgName: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: String,
    isButton: {
      type: Boolean,
      default: true,
    },
    buttonText: {
      type: String,
      default: 'Get Started Now',
    },
    buttonUrl: {
      type: String,
      default: '#',
    },
    isOverlay: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    loadImage() {
      // eslint-disable-next-line global-require
      return require(`../../../assets/img/${this.bannerImgName}`);
    },
  },
};
</script>
