<template>
    <div class="about-us-page content-page">
        <g-banner :title="title"
                :description="description"
                banner-img-name="about-us-banner.jpg"
        />
        <why-arcanum/>
        <about-services/>
        <best-service/>
        <register-account-about/>
    </div>
</template>

<script>
import GBanner from '../../banner/Banner.vue';
import WhyArcanum from './organism/WhyArcanum.vue';
const AboutServices = () => import(
  /* webpackChunkName: "about-services-section" */ './organism/AboutServices.vue'
  );
const BestService = () => import(
  /* webpackChunkName: "best-services-section" */ './organism/BestService.vue'
  );
const RegisterAccountAbout = () => import(
  /* webpackChunkName: "register-account-about-section" */ './organism/RegisterAccountAbout.vue'
  );
export default {
  name: 'AboutUs',
  components: { GBanner, RegisterAccountAbout, BestService, AboutServices, WhyArcanum },
  data() {
    return {
      title: 'About us',
      description: 'Issue of IBAN accounts and debit cards. Assistance with transfers and crypto conversions',
    };
  },
};
</script>
