<template>
  <li ref="menuItem" class="menu-item" v-if="item"
       :class="{
          'menu-item-has-children': item.children,
           active: isActiveChildren,
          'menu-item--current-page': isCurrentPage
       }"
      @click="handlerMenuItem"
      v-click-outside="hideItem"
      >
    <app-link
      :class="{'arrow-children':  item.children}"
      :to="item.path" v-text="$ml.get($_t(item.name))"  />
    <transition @enter="enter" @leave="leave">
      <ul v-if="item.children && item.children.length"
          v-show="notMobile || isDescktop || isActiveChildren" class="sub-menu">
        <menu-item  @click="hideItem" v-for="child in item.children"
                    :item="child" :key="child.name"/>
      </ul>
    </transition>
  </li>
</template>

<script>
import Velocity from 'velocity-animate';
import AppLink from '../../helpers/AppLink.vue';

export default {
  components: { AppLink },
  name: 'menu-item',
  props: {
    item: {
      type: Object,
      required: true,
    },
    notMobile: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isActiveChildren: false,
      isDescktop: true,
    };
  },
  computed: {
    isCurrentPage() {
      return this.$route.name === this.item.name;
    },
  },
  methods: {
    handlerMenuItem() {
      if (!this.item.children) return;
      this.isActiveChildren = !this.isActiveChildren;
    },
    hideItem() {
      this.isActiveChildren = false;
    },
    enter(el, done) {
      Velocity(el, 'slideDown', {
        duration: 400,
        easing: 'linear',
      },
      { complete: done });
    },

    leave(el, done) {
      Velocity(el, 'slideUp', {
        duration: 400,
        easing: 'linear',
      },
      { complete: done });
    },
    getDescktop() {
      this.isDescktop = window.innerWidth > 1200;
    },
  },
  mounted() {
    this.getDescktop();
    window.addEventListener('resize', this.getDescktop);
  },
};
</script>
