<template>
    <div class="privacy-docs-page content-page">
        <g-banner
                :title="title"
                :is-button="false"
                :isOverlay="true"
                banner-img-name="banner-privacy-docs.jpg"
        />
        <section id="accordion-privacy-docs" class="acardion-faq acardion-faq-section pt-lg-5">
            <div class="container">
                <acordion :items="acardion"/>
            </div>
        </section>

    </div>
</template>

<script>
    import GBanner from '../../banner/Banner.vue';
    import Acordion from '../../helpers/Acordion.vue';

    export default {
        name: 'PrivacyDocs',
        components: {
            Acordion,
            GBanner,
        },
        data: () => ({
            title: 'Arkanum Technologies UAB Website Privacy Notice',
            acardion: [
                {
                    isopen: true,
                    title: 'General information',
                    content: `
                        <p>
                            This Privacy Notice governs and explains how Arkanum Technologies (hereinafter referred to as “we” or “Data Controller”) collects and further processes your personal data when you use the website arkanumtransfers.eu. The terms contained in this Privacy Notice apply each time you access our content and/or services, regardless of what device (computer, mobile phone, tablet, TV, etc.) you use.
                        </p>
                   `,
                },
                {
                    isopen: false,
                    title: 'Data Controller’s details:',
                    content: `
                        <p>
                            UAB Arkanum Technologies
                        </p>
                        <p>
                            Legal entity code: 30547574
                        </p>
                        <p>
                            Office address: Perkūnkiemio g. 13-91, Vilnius, 12119, Lithuania
                        </p>
                        <p>
                            Tel. +442037691937
                        </p>
                        <p>
                            E-mail: <a href="mailto:info@arkanumtransfers.eu">info@arkanumtransfers.eu</a>
                        </p>
                        <p>
                            We confirm that we will collect information about you in line with the requirements of the applicable laws and regulations of the European Union and of the Republic of Lithuania and the guidelines of the regulatory authorities, and that we have adopted all reasonable technical and administrative measures to ensure that data that we collect about website visitors are protected from loss, unauthorised access and/or alteration. The Data Controller’s employees have made written commitments not to disclose and distribute information accessed in the workplace to any third party, including information about visitors of the website/social media accounts.
                        </p>
                        <p>
                            Persons under the age of 16 may not provide any personal data through our website/social media accounts. If you are a person under 16, make sure that you obtain a parent or guardian’s permission before you provide personal information to us.
                        </p>
                        <p>
                            The definitions used in this Privacy Notice have the meanings assigned to them in General Data Protection Regulation No 2016/679 (EU).
                        </p>
                        <p>
                            Be sure to read carefully this Website Privacy Notice, because each time you access this website you agree to abide by the terms described here. If you disagree with these terms, please do not visit our website, use our content and/or services.
                        </p>
                   `,
                },
                {
                    isopen: false,
                    title: 'How do we collect information about you?',
                    content: `
                        <p>
                            We may collect personal data about you, i.e. any information identifying you, in various ways:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                You may provide us with information (personal data) directly (by filling in a registration form, subscribing to our newsletter, or making a call to us).
                            </li>
                            <li>
                                We may collect information about you automatically (when you visit our website, our social media account, or use our applications).
                            </li>
                            <li>
                                In certain cases, we may acquire information about you from third parties and may collect information about you from publicly available sources (e.g. through LinkedIn social networking platform, your company’s website or otherwise).
                            </li>
                        </ul>
                        <p>
                            We may collect information that you provide to us directly. Typically, this will happen when you:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                sign up to our website;
                            </li>
                            <li>
                                enter into an arrangement with us for provision of services or another agreement;
                            </li>
                            <li>
                                install our applications;
                            </li>
                            <li>
                                subscribe to our newsletter or register to receive other communications;
                            </li>
                            <li>
                                participate in our surveys.
                            </li>
                        </ul>
                        <p>
                            We may collect information about you automatically. Typically, this will happen when you:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                submit inquiries through our registration system or social media accounts;
                            </li>
                            <li>
                                use our website (we collect information about you through the use of cookies and similar technologies; to learn more about the cookies we use see the information below);
                            </li>
                            <li>
                                make public posts on social media platforms that we follow.
                            </li>
                        </ul>
                        <p>
                            Where permitted by applicable law, we may acquire information about you from third parties. This may include information shared by our partners, marketing agencies, your publicly available profile information (LinkedIn, Facebook, Twitter, Instagram). We may link information provided by yourself, collected from public and commercial sources to other information we obtain from you or about you. We may also collect information about you in other contexts than discussed in this Privacy Notice. If this is the case, we will give you further notice.
                        </p>
                    `,
                },
                {
                    isopen: false,
                    title: 'What information (personal data) about you do we process?',
                    content: `
                        <p>
                            Although we seek to collect as limited amount of your information as possible, we collect the following information:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                information necessary to provide our services to you (provided in contracts, registration form);
                            </li>
                            <li>
                                information you give us in surveys;
                            </li>
                            <li>
                                information you give us in calls to us;
                            </li>
                            <li>
                                information about your preferences and interests;
                            </li>
                            <li>
                                information necessary to verify your age and identity;
                            </li>
                            <li>
                                information about the device you use.
                            </li>
                        </ul>
                        <p>
                            Information that we collect from you directly will be apparent from the circumstances and the context in which you provide it. For example:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                when we provide our services to you, we process your information such as your name, surname, payment method, address, passport number and other information we may need in providing services to you, such as your phone number or e-mail address to which we will send your registration confirmation;
                            </li>
                            <li>
                                credit card number, credit card expiration date;
                            </li>
                            <li>
                                information about your interests and preferences.
                            </li>
                        </ul>
                    `
                },
                {
                    isopen: false,
                    title: 'Information that we collect automatically will generally concern:',
                    content: `
                        <ul class="custom-lists">
                            <li>
                                information about your usage of our websites (device information: IP address, operating system version, and settings of the device you use to access our content/products; log information: time and duration of your login session, search query terms you enter through the website, and any information stored in cookies that we have set on your device (cookies policy is provided below); location information: your device’s GPS signal or information about nearby WIFI access points and cell towers that may be transmitted to us when you use our website content.
                            </li>
                        </ul>
                    `
                },
                {
                    isopen: false,
                    title: 'Information that we collect from third parties or publicly available sources will generally consist of the following:',
                    content: `
                        <ul class="custom-lists">
                            <li>
                                your interests;
                            </li>
                            <li>
                                your e-mail address, name, surname, your country, special preferences and interests.
                            </li>
                        </ul>
                        <p>
                            You may choose not to disclose certain information to us (e.g. information requested in the registration form), but in that case you may not be allowed to register in our website or receive our services.
                        </p>
                    `
                },
                {
                    isopen: false,
                    title: 'Purposes and legal basis of data processing',
                    content: `
                        <p>
                            We use the above information we collect for the following purposes:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                to provide payment services;
                            </li>
                            <li>
                                to provide service-related information you request;
                            </li>
                            <li>
                                for marketing purpose, e.g. providing customised advertisements and sponsored content and sending promotional communications; assessment and analysis of our market, clients, products and services (including asking for your opinions on our products and services, carrying out client/partner surveys, running competitions or promotions, as permitted by law);
                            </li>
                            <li>
                                to understand the way people, use our online services so that we can improve them and develop new content, products and services;
                            </li>
                            <li>
                                to protect our interests before any court or any other institution;
                            </li>
                            <li>
                                otherwise with your consents
                            </li>
                        </ul>
                        <p>
                            You may opt out of direct marketing communications from us at any time.
                        </p>
                        <p>
                            If you prefer not to receive our direct marketing communications, please let us know by sending us an e-mail to info@arkanumtransfers.eu or clicking on the opt-out link appearing in the newsletter.
                        </p>
                        <p>
                            We process personal data about you based on one or several legitimate grounds for the processing:
                        </p>
                         <ul class="custom-lists">
                            <li>
                                compliance with legislative requirements;
                            </li>
                            <li>
                                discharge of obligations under a contract between you and us;
                            </li>
                            <li>
                                our legitimate interests, unless they are overridden by your private interests;
                            </li>
                            <li>
                                in certain cases, your consent.
                            </li>
                        </ul>
                        <p>
                            The purposes of the processing of your personal data, with respective legal bases and personal data collected for such purposes, are set out in the table below:
                        </p>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-primary text-light">
                                        <th>Purpose</th>
                                        <th>Legal <br /> basis/bases</th>
                                        <th>Personal data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                To provide payment and related services
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Discharge of obligations under a contract between you and us.
                                            </p>
                                            <p>
                                                Compliance with legislative requirements.
                                            </p>
                                            <p>
                                                Our legitimate interests unless, these interests are overridden by your private interests.
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Name, surname, payment method, credit card number, address, passport number, credit card expiration date, other information we may need in providing our services to you, such as your phone number or email address to which we will send your registration confirmation, information about your interests and preferences.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <p>
                                                To provide service-related information you request
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This information is provided to you on the basis of our legitimate interest to provide you with accurate information about the services we provide, extra services, etc.
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                In order to be able to answer your queries by phone, e-mail, through social media and otherwise, we may ask you to give us your phone number, email address or other contact details convenient to you.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                For marketing purposes, e.g. providing customised advertisements and sponsored content and sending promotional communications; assessment and analysis of our market, clients, products and services (including asking for your opinions on our products and services and carrying out client/partner surveys)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                For this purpose, we process your personal data on the basis of our legitimate interest to inform about our services, events, news and other relevant information.
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Name, social media account details, telephone, e-mail, address, your interests.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To understand the way people use our online services so that we can improve them and develop new content, products and services
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                For this purpose, we process your personal data on the basis of the legitimate interest to monitor the quality of our services, develop and improve the content we provide, and ensure security of the website.
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                IP address, operating system version, and settings of the device you use to access our content/products, time and duration of your login session, search query terms you enter through our website, and any information stored in cookies that we have set on your device, your device’s GPS signal or information about nearby WIFI access points and cell towers that may be transmitted to us when you use our website content.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To protect our interests before any court or any other institution
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Compliance with legislative requirements.
                                            </p>
                                            <p>
                                                Legitimate interest to defend against lawsuits and claims.
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Depending on the lawsuit or claim filed, we may collect all personal data mentioned in this Privacy Notice that we have about you.
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <p>
                            Where we do not base our use of information about you on one of the above legal bases, we will ask for your consent before we process your information (these cases will be clear from the circumstances and the context).
                        </p>
                        <p>
                            In some instances, we may use information about you for purposes other than described above. Where this is the case, we will provide a supplemental notice to you.
                        </p>
                    `
                },
                {
                    isopen: false,
                    title: 'To whom we disclose your personal data?',
                    content: `
                          <p>
                            We may disclose your personal data to the following entities:
                          </p>
                          <ul class="custom-lists">
                            <li>
                                companies that provide services for us;
                            </li>
                            <li>
                                banks/companies that provide payment services;
                            </li>
                            <li>
                                companies assisting with organising competitions/games/promotions;
                            </li>
                            <li>
                                other carefully selected business partners;
                            </li>
                            <li>
                                other parties, when so required under law or necessary in order to protect our legitimate interests.
                            </li>
                          </ul>
                          <p>
                            We may share information about you with other third parties, such as public authorities, authorities supervising activities in the payment sector, pre-trial investigation officials, courts, and others, when we consider disclosure to be necessary to protect our legitimate interests.
                          </p>
                    `
                },
                {
                    isopen: false,
                    title: 'To what countries do we transfer your personal data?',
                    content: `
                        <p>
                            Sometimes we may have to transfer your personal data to other countries that may offer lower levels of data protection. In such cases we do all that is within our control to ensure the security of the data we transfer.
                        </p>
                        <p>
                            The Data Controller transfers your personal data to the following countries outside the European Economic Area: Israel, India.
                        </p>
                        <p>
                            Where the Data Controller transfers your personal data to countries outside the European Economic Area, we ensure that any of the following safeguards is implemented:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                A contract is signed with the data recipient based on the standard contractual clauses adopted by the European Commission.
                            </li>
                            <li>
                                In respect of data transmission by a group of undertakings, binding corporate rules are applied.
                            </li>
                            <li>
                                The data recipient is established in a country recognised by the European Commission as applying adequate data protection standards (Israel, for example)
                            </li>
                            <li>
                                Authorisation is obtained from the Data Protection Inspectorate.
                            </li>
                        </ul>
                    `
                },
                {
                    isopen: false,
                    title: 'How do we protect information about you?',
                    content: `
                        <p>
                            We have put in place reasonable and appropriate physical and technical measures to safeguard the information we collect in connection with the provision of our content/services. Please note, however, that although we take reasonable steps to protect your information, no website, Internet transmission, computer system or wireless connection is completely secure.
                        </p>
                    `
                },
                {
                    isopen: false,
                    title: 'How long will your personal data be kept?',
                    content: `
                        <p>
                            We will retain your personal data for the period necessary to fulfil the purpose for which they were collected. After that, we will delete them, except where we are legally obligated to retain the information for tax purposes, or such data may be required in conducting a pre-trial investigation, but in any event the retention period will not extend beyond 10 years. On expiration of this period, the data will be irretrievably deleted.
                        </p>
                        <p>
                            Normally, personal data storage periods are as follows:
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-primary text-light">
                                        <th>Personal data</th>
                                        <th>Retention period</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Payment data
                                        </td>
                                        <td>
                                             At least 10 years after the payment transaction
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Personal data used for marketing purposes
                                        </td>
                                        <td>
                                             3 years from your last visit to our website
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            IT system logs
                                        </td>
                                        <td>
                                             Up to several months
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Analytical data
                                        </td>
                                        <td>
                                            Such data are normally collected automatically while you visit the website and immediately depersonalised/aggregated
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    `
                },
                {
                    isopen: false,
                    title: 'Rights that you have',
                    content: `
                        <p>
                            The data subject whose data are processed in connection with activities carried out by the Data Controller, depending on the situation, has the following rights:
                        </p>
                        <ul class="custom-lists">
                            <li>
                                to know (be informed) about the processing of data concerning him/her (right to know);
                            </li>
                            <li>
                                to access his/her data and be informed about the methods of their processing (right of access);
                            </li>
                            <li>
                                to obtain rectification of personal data or, taking into account the purposes of the processing of personal data, to have incomplete personal data completed (right to rectification);
                            </li>
                            <li>
                                to obtain the erasure of data concerning him/her or the suspension of data processing activities concerning him/her (except storage) (right to erasure and ‘right to be forgotten’);
                            </li>
                            <li>
                                to obtain from the Data Controller restriction of the processing of personal data if there is a legitimate ground (right to restriction of processing);
                            </li>
                            <li>
                                 to object at any time to processing of personal data concerning him or her which is based for the performance of a task carried out in the public interest or for the purposes of the legitimate interests pursued by the controller or by a third party. The controller has to demonstrate compelling legitimate grounds for the processing which override the interests, rights and freedoms of the data subject (right to object);
                            </li>
                            <li>
                                to exercise the right to data portability (right to data portability);
                            </li>
                            <li>
                                to lodge a complaint with the State Data Protection Inspectorate.
                            </li>
                        </ul>
                        <p>
                            We offer you easy ways to exercise these rights. You can do so by giving us a call to +442037691937, writing to us to <a href="mailto:info@arkanumtransfers.eu">info@arkanumtransfers.eu</a>, or using certain links provided at the end of our promotional communications.
                        </p>
                        <p>
                            You may not be able to exercise these rights when in the cases provided by law it is necessary to ensure prevention, investigation and detection of crimes, violations of official or professional ethical standards, as well as the protection of the rights and freedoms of the data subject or other persons.
                        </p>
                        <p>
                            We will ask you to prove your identity face-to-face, through electronic signature or, where the two options are not available, remotely via Skype before we enable you to exercise your rights.
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-primary text-light">
                                        <th>Rights that you have</th>
                                        <th>Certain restrictions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                To know (be informed) about the processing of your data (right to know)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                You have the right be informed in a concise form and using simple and plain language before the processing of your personal data.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To access your data and be informed about the methods of their processing (right of access)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This right means:
                                            </p>
                                            <ul class="custom-lists">
                                                <li>
                                                    confirmation whether or not we process personal data concerning you;
                                                </li>
                                                <li>
                                                    providing you with the list of your data that we process;
                                                </li>
                                                <li>
                                                    informing you about the purposes and legal bases for the processing of your personal data;
                                                </li>
                                                <li>
                                                    confirmation as to whether or not we transfer data to third parties and, if so, the safeguards we have implemented;
                                                </li>
                                                <li>
                                                    informing you from which source your personal data originate;
                                                </li>
                                                <li>
                                                    information as to the existence of profiling;
                                                </li>
                                                <li>
                                                    information about the storage period.
                                                </li>
                                            </ul>
                                            <p>
                                                After we have established your identity, we will provide you with the above information, provided this does not affect the rights and freedoms of others.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To obtain rectification of personal data or, taking into account the purposes of the processing of personal data, to have incomplete personal data completed (right to rectification)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This applies if the information we hold is incomplete or inaccurate.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To obtain the erasure of your data (right 'to be forgotten')
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This applies if:
                                            </p>
                                            <ul class="custom-lists">
                                                <li>
                                                    the information we hold is no longer necessary in relation to the purposes for which we use it;
                                                </li>
                                                <li>
                                                    we process your data on the basis of your consent and you withdraw your consent;
                                                </li>
                                                <li>
                                                    we process your data on the basis of legitimate interests and we find that, following your objection, they are overridden by your private interests;
                                                </li>
                                                <li>
                                                    the information was unlawfully used.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To stop all data processing activities in respect of your data (except storage)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This right applies, temporarily while we look into your case, if you:
                                            </p>
                                            <ul class="custom-lists">
                                                <li>
                                                    contest the accuracy of the information;
                                                </li>
                                                <li>
                                                    have objected to our processing of your personal data on the basis of legitimate interests;
                                                </li>
                                                <li>
                                                    our processing of your information is unlawful and you oppose the erasure of the information;
                                                </li>
                                                <li>
                                                    we no longer need the information, but you require it to establish a legal case.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To obtain from the Data Controller restriction of the processing of personal data if there is a legitimate ground (right to restriction of processing)
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                You may opt out of our use of your personal data for direct marketing purposes
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To object to processing of personal data
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This right means that data subject can object at any time to processing of personal data concerning him or her which is based for the performance of a task carried out in the public interest or for the purposes of the legitimate interests pursued by the controller or by a third party. The controller has to demonstrate compelling legitimate grounds for the processing which override the interests, rights and freedoms of the data subject
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To exercise the right to data portability
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                This right may be exercised if you have provided your data to us and the processing is carried out by us by automated means and on the basis either of your consent, or on the basis of discharging our contractual obligations to you.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                To lodge a complaint with the State Data Protection Inspectorate
                                            </p>
                                        </td>
                                        <td>
                                            <a href="https://www.ada.lt" target="_blank">www.ada.lt</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    `
                },
                {
                    isopen: false,
                    title: 'Contact us',
                    content: `
                        <p>
                            If you discover any inconsistency in this Privacy Notice, any security issue on our website, or have other questions related to the processing of your personal data, please contact us in a manner convenient to you using the contact details below:
                        </p>
                        <p>
                            Mailing address: Perkūnkiemio g. 13-91, Vilnius, 12119, Lithuania <br />
                            Telephone: +442037691937 <br />
                            E-mail: <a href="mailto:info@arkanumtransfers.eu">info@arkanumtransfers.eu</a>
                        </p>
                    `
                },
                {
                    isopen: false,
                    title: 'Final provisions',
                    content: `
                       <p>
                            We will review this Privacy Notice at least once every two years. We will notify you about changes to this Privacy Notice that we consider material by posting a notice on the specific website. By continuing to access or use our content and/or services after we have posted such notice you agree to be bound by the new terms set out in the update.
                       </p>
                    `
                },
            ],
        }),
    };
</script>
