<template>
    <div class="cookies-page content-page">
        <g-banner
                :title="title"
                :is-button="false"
                banner-img-name="banner-cookies.jpg"
        />
        <section id="accordion-cookies" class="acardion-faq acardion-faq-section pt-lg-5">
            <div class="container">
                <acordion :items="acardion"/>
            </div>
        </section>

    </div>
</template>

<script>
    import GBanner from '../../banner/Banner.vue';
    import Acordion from '../../helpers/Acordion.vue';

    export default {
        name: 'Cookies',
        components: {
            Acordion,
            GBanner,
        },
        data: () => ({
            title: 'Cookies Policy',
            acardion: [
                {
                    isopen: true,
                    title: 'Cookies, beacons and similar technologies',
                    content: `
                        <p>
                            In the following Cookies Policy, the term “cookies” is used to refer to cookies and other similar technologies, such as pixel tags, web beacons, and clear GIFs. We strive to provide you with content and features tailored to your specific needs while you browse our website. To achieve this, we use cookies, small pieces of information stored on your web browser. They help the Data Controller to identify you as a prior visitor of the specific website, collect your previous browsing history and use this information to adapt the content. Cookies also help to ensure the smooth operation of websites, track duration and frequency of visits on websites and collect statistical information about website traffic. By analysing such data, we can improve our website experience and make our websites more user-friendly.
                        </p>
                   `,
                },
                {
                    isopen: false,
                    title: 'We use the following cookies on our website:',
                    content: `
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-primary text-light">
                                        <th>Cookie name</th>
                                        <th>Purpose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>PHPSESSID</b>
                                        </td>
                                        <td>
                                             The PHPSESSID cookie is native to PHP and enables websites to store serialised state data. On the Action website it is used to establish a user session and to pass state data via a temporary cookie, which is commonly referred to as a session cookie.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   `,
                },
                {
                    isopen: false,
                    title: 'Cookies for third parties',
                    content: `
                        <p>
                            When you visit a page on our site with content embedded from third parties, for example, Google Analytics, HubSpot or Bizo, cookies may be downloaded onto your device. We do not set or control these cookies and they can change at any time without Arkanum Technologies 's knowledge. If you are concerned about the types of cookies that may be downloaded you can check the third-party websites for more information about these cookies.
                        </p>
                        <p>
                            Below are the known cookie names for third party services:
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-primary text-light">
                                        <th>Cookie name</th>
                                        <th>Purpose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>DSID</b>
                                        </td>
                                        <td>
                                             By Google - We use other cookies with names such as DSID, FLC, AID, TAID, and exchange uid. Other Google properties, like YouTube, may also use these cookies to show you more relevant ads.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>IDE</b>
                                        </td>
                                        <td>
                                             By Google - We also use one or more cookies for advertising we serve across the web. One of the main advertising cookies on non-Google sites is named 'IDE' and is stored in browsers under the domain doubleclick.net.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>NID</b>
                                        </td>
                                        <td>
                                             The NID cookie contains a unique ID Google uses to remember your preferences and other information, such as your preferred language (e.g. English), how many search results you wish to have shown per page (e.g. 10 or 20), and whether or not you wish to have Google’s SafeSearch filter turned on.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>__cfduid</b>
                                        </td>
                                        <td>
                                             Cloudflare cfduid cookie - used to identify individual clients behind a shared IP address and apply security settings on a per-client basis. For example, if the visitor is in a coffee shop where there are a bunch of infected machines, but the specific visitor's machine is trusted (e.g. because they've completed a challenge within your Challenge Passage period), the cookie allows us to identify that client and not challenge them again. It does not correspond to any user ID in your web application, and does store any personally identifiable information.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>__utma</b>
                                        </td>
                                        <td>
                                             Google Analytics - This cookie is what’s called a “persistent” cookie, as in, it never expires (technically, it does expire…in the year 2038…but for the sake of explanation, let’s pretend that it never expires, ever). This cookie keeps track of the number of times a visitor has been to the site pertaining to the cookie, when their first visit was, and when their last visit occurred. Google Analytics uses the information from this cookie to calculate things like Days and Visits to purchase.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>__utmc</b>
                                        </td>
                                        <td>
                                             Google Analytics - The B (__utmb) and C cookies are brothers, working together to calculate how long a visit takes. __utmb takes a timestamp of the exact moment in time when a visitor enters a site, while __utmc takes a timestamp of the exact moment in time when a visitor leaves a site. __utmb expires at the end of the session. __utmc waits 30 minutes, and then it expires. You see, utmc has no way of knowing when a user closes their browser or leaves a website, so it waits 30 minutes for another pageview to happen, and if it doesn’t, it expires.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>__utmz</b>
                                        </td>
                                        <td>
                                             Google Analytics - Mr. __utmz keeps track of where the visitor came from, what search engine you used, what link you clicked on, what keyword you used, and where they were in the world when you accessed a website. It expires in 15,768,000 seconds – or, in 6 months. This cookie is how Google Analytics knows to whom and to what source / medium / keyword to assign the credit for a Goal Conversion or an Ecommerce Transaction. <b>__utmz</b> also lets you edit its length with a simple customization to the Google Analytics Tracking code.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>_bizo_bzid</b>
                                        </td>
                                        <td>
                                             Bizo - Tracking for Bizo's business demographics data.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>_bizo_cksm</b>
                                        </td>
                                        <td>
                                             Bizo - Tracking for Bizo's business demographics data.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>_bizo_np_stats</b>
                                        </td>
                                        <td>
                                             Bizo - Tracking for Bizo's business demographics data.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>anj</b>
                                        </td>
                                        <td>
                                             The anj cookie contains data denoting whether a cookie ID is synced with our partners. ID syncing enables our partners to use their data from outside the Platform on the Platform.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>icu</b>
                                        </td>
                                        <td>
                                             The icu cookie is used to select ads and limit the number of times a user sees a particular ad. It contains information such as the number of times an ad has been shown, how recently an ad has been shown, or how many total ads have been shown.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>sess</b>
                                        </td>
                                        <td>
                                             The sess cookie contains a single non-unique value: “1”. It is used by the Platform to test whether a browser is configured to accept cookies.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>uuid2</b>
                                        </td>
                                        <td>
                                             This cookie contains a unique randomly-generated value that enables the Platform to distinguish browsers and devices.
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <p>
                            When you use a web browser to access our content, you can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is sent. Each browser is different, so check the “Help” menu of your browser to learn how to change your cookie preferences. The operating system of your device may contain additional controls for cookies. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to decline cookies. For more information on how to manage cookies go to: <a href="https://www.aboutcookies.org/how-to-delete-cookies" target="_blank">https://www.aboutcookies.org/how-to-delete-cookies</a>.
                        </p>
                        <p>
                            Please note, however, that some services may not function properly without cookies and if you disable them, the services or any part of services may no longer be available to you.
                        </p>
                        <p>
                           In addition to the cookies used by the Data Controller, certain third parties are allowed to enable and access cookies in your computer. In that case the use of cookies is governed by third party privacy policies.
                        </p>
                        <p>
                           Please note that our social networking accounts are governed by the cookies policy of the respective social media network.
                        </p>
                   `,
                },
            ]
        }),
    };
</script>
