<template>
  <div class="privacy-page content-page">
    <g-banner :title="title"
              :description="description"
              :is-button="false"
              banner-img-name="banner-privacy.jpg"/>
    <div class="container mt-lg-5 mt-lg-4 mt-3">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p>
            <strong>ARKANUM TECHNOLOGIES UAB</strong>
            is committed to combat money laundering and terrorist financing and ensure that products and services products enlisted at the Arkanum Technologies are not misused for the purpose of money laundering, terrorism financing and other fraud events. It is also prohibited to provide any product or service or proceed any transaction for the benefit of individual or entity included in the international sanctions lists. As such, the adherence with applicable laws and regulations in relation to prevention of money laundering and terrorist financing (hereinafter referred to as “AML”) is mandatory and fundamental to Arkanum Technologies’s strategy and program.
          </p>
          <p>
            Arkanum Technologies has strict and transparent standards and continuously strengthens Arkanum Technologies’s processes so as to ensure compliance with applicable AML laws and regulations.
          </p>
          <p>
            Arkanum Technologies reserves the right to reject any customer, payment or business that is not consistent with the Arkanum Technologies AML policy subject to the requirements of the applicable AML laws and regulations.
          </p>
        </div>
      </div>
    </div>
    <section id="acardion-privacy" class="acardion-faq acardion-faq-section pt-lg-5">
      <div class="container">
        <acordion :items="acardion"/>
      </div>
    </section>
  </div>
</template>

<script>

import GBanner from '../../banner/Banner.vue';
import Acordion from '../../helpers/Acordion.vue';

export default {
  name: 'Privacy',
  components: {
    GBanner,
    Acordion,
  },
  data: () => ({
    title: 'ARKANUM TECHNOLOGIES UAB',
    description: 'Anti-Money Laundering and Counter-Terrorist Financing Policy of',
    acardion: [
      {
        isopen: true,
        title: 'Adherence to Applicable AML Laws and Regulations',
        content: `
          <p>
            In accordance with AML regulations, the customer is required to provide Arkanum Technologies an accurate and complete information and documentation that assists in determining customer’s identity and verifying the customer, as well as information on payers and payees of each monetary operation and transaction processed through the customer’s account in the Company. The customer may be required to provide to the Arkanum Technologies additional information or document regarding the customer, respective monetary operation or other transaction, or counterparty of such transaction.
          </p>
           `,
      },
      {
        isopen: false,
        title: 'Monitoring for Suspicious Activity',
        content: `
          <p>
            Arkanum Technologies’s AML policy includes customer’s and beneficial owner’s due diligence and ongoing AML monitoring and AML reporting policies. At various points in time, Arkanum Technologies may request information regarding the transactions carried out through the customer’s account opened at Arkanum Technologies and the parties of the respective payment. If the customer may not respond sufficiently or within a timely manner, Arkanum Technologies also reserves the right to reject any respective payments subject to the requirements of the applicable AML laws and regulations.
          </p>
           `,
      },
      {
        isopen: false,
        title: 'Prohibitions',
        content: `
          <p>
              Arkanum Technologies has no AML risk appetite for customers who engage in any of the following:
          </p>
           <ul class="custom-lists">
             <li>
                Intentional or wilfully negligent breaches of law, regulation or policy applicable to money laundering and terrorist financing risk;              </li>
              <li>
                Repeated unintentional or repeated accidental breaches of AML laws;
              </li>
              <li>
                Misusing the account for the purpose of money laundering or terrorism financing;
              </li>
              <li>
                Misusing the account for the purpose of other fraud;
              </li>
              <li>
                Facilitating business activities which could be construed as a tax offence;
              </li>
              <li>
              Refusing to provide sufficient information or documentation to demonstrate compliance with the standards outlined in Arkanum Technologies AML policy.
              </li>
          </ul>
          <p>
              Arkanum Technologies intends to conduct business only with reputable customers who use their own products, services, and related accounts for legitimate purposes, and whose identities can be determined and verified. Please note that Arkanum Technologies may suspend or terminate business relationship with the customer subject to the requirements of applicable AML laws and regulations.
          </p>
           `,
      },
      {
        isopen: false,
        title: 'Sanctions',
        content: `
          <p>
            Arkanum Technologies has no AML Risk Appetite for establishing or maintaining a customer or a counterparty relationship with a natural person or legal entity designated on any of the below lists or where otherwise prohibited by applicable law or regulation.
          </p>
          <p>
            Arkanum Technologies also has no appetite to execute transactions relating to any such natural person or legal entity being included in:
          </p>
          <ul class="custom-lists">
             <li>
              The United Nations Security Council Sanctions List (UN);
            </li>
             <li>
                The Consolidated List of European Union Financial Sanctions (EU);
            </li>
             <li>
              Sanction lists administered by the United States Office of Foreign Assets Control (OFAC), including the List of Specially Designated Nationals and Blocked Persons;
            </li>
             <li>
                Any other sanctions list.
            </li>
           </ul>
           <p>
                In addition, Arkanum Technologies pays particular attention to entities from countries which are on the list of non-cooperative countries and territories drawn up by the Financial Action Task Force (FATF) and to monetary operations or transactions performed by or on behalf of them.
           </p>
           <p>
                If you have any questions regarding our AML policy, please contact our e-mail address:  <a href="mailto:info@arkanumtransfers.eu">info@arkanumtransfers.eu</a>
            </p>
           `,
      },
    ],
  }),
};
</script>
