<template>
  <section id="about-services-section" class="about-services-section">
    <div class="container">
      <div class="row about-services__list">
        <about-services-item v-for="(item, i) in items"
                             :key="item.title + i" :title="item.title"
                             :description="item.description" :svg-src="item.svgSrc"/>
      </div>
    </div>
  </section>
</template>

<script>
import AboutServicesItem from '../../home/molecules/AboutServicesItem.vue';

export default {
  name: 'AboutServices',
  components: { AboutServicesItem },
  data() {
    return {
      items: [
        {
          title: 'FREE LEOPAY PEER-TO-PEER TRANSFERS',
          description: 'Send money to friends and family instantly at no cost, 24/7!',
          svgSrc: '/src/assets/svg/devices.svg',
        },{
          title: 'FREE LEOPAY PEER-TO-PEER TRANSFERS',
          description: 'Send money to friends and family instantly at no cost, 24/7!',
          svgSrc: '/src/assets/svg/devices.svg',
        },{
          title: 'FREE LEOPAY PEER-TO-PEER TRANSFERS',
          description: 'Send money to friends and family instantly at no cost, 24/7!',
          svgSrc: '/src/assets/svg/devices.svg',
        },{
          title: 'FREE LEOPAY PEER-TO-PEER TRANSFERS',
          description: 'Send money to friends and family instantly at no cost, 24/7!',
          svgSrc: '/src/assets/svg/devices.svg',
        },
      ],
    };
  },
};
</script>
