<template>
  <section id="best-services" class="section-best-services best-services">
    <div class="container">
      <div class="row">
        <best-services-left-content/>
        <best-services-right-content/>
      </div>
    </div>
  </section>
</template>

<script>
import BestServicesLeftContent from '../molecules/BestServicesLeftContent.vue';
import BestServicesRightContent from '../molecules/BestServicesRightContent.vue';

export default {
  name: 'BestService',
  components: { BestServicesRightContent, BestServicesLeftContent },
};
</script>
