<template>
  <section id="register-account-about"
           class="register-account-about-section register-account-about bg-overlay">
    <div class="container">
      <div class="row">
        <register-account-right-block class="register-account-about__left-block dark-context"/>
        <register-account-left-block class="register-account-about__right-block  "/>
      </div>
    </div>
  </section>
</template>

<script>
import RegisterAccountRightBlock from '../../home/molecules/RegisterAccountRightBlock.vue';
import RegisterAccountLeftBlock from '../../home/molecules/RegisterAccountLeftBlock.vue';

export default {
  name: 'RegisterAccountAbout',
  components: { RegisterAccountLeftBlock, RegisterAccountRightBlock },
};
</script>
