<template>
  <section id="why-arcanum" class="why-arcanum why-arcanum-section">
    <div class="container">
      <div class="row">
        <div class="why-arcanum-img">
          <div class="image-box">
            <img src="../../../../../assets/img/why-arcnum.jpg" alt="why-arcnum">
          </div>
        </div>
        <div class="why-arcanum-content">
          <div class="why-arcanum-content__inner">
            <h2 v-html="$ml.get($_t(title))"/>
            <separator width="490"/>
            <div class="why-arcanum__description h4" v-text="$ml.get($_t(description))"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Separator from '../../../helpers/Separator.vue';
export default {
  name: 'WhyArcanum',
  components: { Separator },
  data() {
    return {
      title: 'Why Arcanum transfer?',
      description: 'lorem-desc',
    };
  },
};
</script>

<style scoped lang="sass">

</style>
