<template>
  <div class="col-xl-6 col-lg-8 about-block__content">
    <h2>
      Accepted by 20 million merchants
      <span class="accent-color">Designed just for you</span>
    </h2>
    <acordion :items="acordionItems"/>
  </div>
</template>

<script>
import Acordion from '../../../helpers/Acordion.vue';

export default {
  name: 'about-block-right',
  components: { Acordion },
  data() {
    return {
      acordionItems: [
        {
          title: 'No charges for international payments',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
        {
          title: 'Free delivery to your doorstep',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
        {
          title: 'Instant locking from the app',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
        {
          title: 'ATM withdrawals worldwide',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
        {
          title: 'Secure contactless payments',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
        {
          title: 'Daily, weekly or monthly spending limits',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolorem incidunt laborum maxime minus nobis repellendus veniam vitae.',
          isopen: false,
        },
      ],
    };
  },
};
</script>
