<template>
  <div class="col-xl-6 col-lg-4 about-block__img text-center">
    <simple-svg
      src="/src/assets/svg/about.svg"
    />
  </div>
</template>

<script>
export default {
  name: 'about-block-left',
};
</script>
