<template>
  <div class="col-xl-3 col-md-6 about-services__item ">
    <div class="about-services__inner">
      <div class="about-services__img">
        <simple-svg
          :src="svgSrc"
        />
      </div>
      <h4 class="about-services__title" v-text="$ml.get($_t(title))"/>
      <div class="about-services__content" v-text="$ml.get($_t(description))"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about-services-item',
  props: {
    svgSrc: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
    },
  },
};
</script>
