<template>
  <div class="col-xxl-8 col-xl-7 manage-finances__content">
    <div class="d-flex section-heading">
      <separator :vertical="true"/>
      <h2>online payment solutions</h2>
    </div>
    <div class="manage-finances__items col-12 col-lg-10">
      <manage-finances-item
        v-for="(item, i) in content"
        :title="item.title"
        :description="item.description"
        :svg-link="item.icon"
        :key="item.title+i"/>
    </div>
  </div>
</template>

<script>
import ManageFinancesItem from './ManageFinancesItem.vue';
import Separator from '../../../helpers/Separator.vue';

export default {
  name: 'ManageFinancesLeft',
  components: { Separator, ManageFinancesItem },
  data() {
    return {
      content: [
        {
          title: 'Open your EUR IBAN online',
          icon: '/src/assets/svg/planet.svg',
          description: 'No personal visit required. <br /> 100% online process. The account is ready in minutes.',
        },
        {
          title: 'Get an ATM debit card for you and your staff',
          icon: '/src/assets/svg/card.svg',
          description: 'Make ATM withdrawals and salary payments from your business account.',
        },
        {
          title: 'Receive payments from customers',
          icon: '/src/assets/svg/planet.svg',
          description: 'Receive payments from customers and business counterparts inside and outside EU.',
        },
      ],
    };
  },
};
</script>
