<template>
  <div class="col-xl-6 col-lg-8 manager-app__content">
    <div class="d-flex section-heading">
      <separator :vertical="true"/>
      <h2 v-text="$ml.get($_t(title))"/>
    </div>
      <div class="manager-app__description h3" v-text="$ml.get($_t(description))"/>
      <div class="manager-app__action">
        <a href="#" class="btn btn--img btn--img__google-play">GooglePlay</a>
        <a href="#" class="btn btn--img btn--img__app-store">AppStore</a>
      </div>
  </div>
</template>

<script>
import Separator from '../../../helpers/Separator.vue';

export default {
  name: 'manager-app-left-block',
  components: { Separator },
  data() {
    return {
      title: ' Manage your account directly from the app',
      description: 'Move funds in just a few taps with the LeoPay app. Keep track of all accounts and transactions and control all your cards on the move.',
    };
  },
};
</script>
