<template>
  <div class="manage-finances__item">
      <div class="manage-finances__item-icon">
        <simple-svg
          customClassName="manage-finances__svg"
          :src="svgLink"
        />
      </div>
      <div class="manage-finances__item-content">
        <div class="manage-finances__item-content-inner">
          <h3 class="manage-finances__item-title" v-html="$ml.get($_t(title))"/>
          <div class="manage-finances__item-description"
               v-if="description"
             v-html="$ml.get($_t(description))"/>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'ManageFinancesItem',
  props: {
    svgLink: {
      type: String,
      require: true,
    },
    title: {
      type: String,
      require: true,
    },
    description: {
      type: [String, HTMLAllCollection],
    },
  },
};
</script>

<style scoped lang="sass">

</style>
