<template>
  <div class="col-xxl-4 col-xl-5 manage-finances__icon">
    <simple-svg
      src="/src/assets/svg/manage-finances.svg"
    />
  </div>
</template>

<script>
export default {
  name: 'ManageFinancesRight',
};
</script>
