<template>
  <div class="col-xl-6 col-lg-4 d-none d-lg-block manager-app__content">
    <simple-svg
      src="/src/assets/svg/manager-app.svg"
    />
  </div>
</template>

<script>
export default {
  name: 'manager-app-right-block',
};
</script>
