<template>
  <div class="col-lg-6">
      <div class="advantages" v-for="item in advantages" :key="item.title">
        <div class="advantages__inner">
          <div class="advantages__img">
            <simple-svg
              :src="item.iconUrl"
            />
          </div>
          <h4 class="advantages__title mb-0" v-html="$ml.get($_t(item.title))"/>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'register-account-left-block',
  data() {
    return {
      advantages: [
        {
          title: 'It can take less than 6 minutes',
          iconUrl: '/src/assets/svg/timer.svg',
        }, {
          title: 'No need to visit a branch',
          iconUrl: '/src/assets/svg/marker.svg',
        },{
          title: 'Easy account opening process <br /> No personal visit is needed',
          iconUrl: '/src/assets/svg/timer.svg',
        },
      ],
    };
  },
};
</script>
