<template>
  <div class="col-lg-6">
    <div class="inner-block">
      <div class="d-flex section-heading">
        <separator :vertical="true"/>
        <h2 v-text="$ml.get($_t(title))"/>
      </div>
      <div class="register-account-right-block__action">
        <button-primary/>
      </div>
    </div>
  </div>
</template>

<script>
import Separator from '../../../helpers/Separator.vue';
import ButtonPrimary from '../../../helpers/ButtonPrimary.vue';

export default {
  name: 'register-account-right-block',
  components: { ButtonPrimary, Separator },
  data() {
    return {
      title: 'Set up your account online',
    };
  },
};
</script>
