<template>
  <div class="services-item col-lg-3 col-md-6">
    <div class="services-item__inner">
      <div class="services-item__image image-box">
        <simple-svg
          :src="svgSrc"
        />
      </div>
      <h4 class="services-item__title" v-html="$ml.get($_t(title))"/>
      <div class="services-item__description" v-html="$ml.get($_t(description))"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'services-item',
  props: {
    svgSrc: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
    },
  },
  computed: {
    defaultImgAlt() {
      return this.imgAlt ? this.imgAlt : this.imgLink.replace(/\.(jpe?g|png|gif|svg)$/i, '');
    },
  },
};
</script>
