<template>
  <div class="modal custom-scroll-y">
    <div class="modal-container" :class="{success: formSuccess}">
      <div class="close-modal-group"  @click="closeModal">
        <span v-text="$ml.get($_t('Close'))"/>
        <div class="close-modal-btn"></div>
      </div>
      <div class="modal-inner" ref="modalInner">
        <div v-if="formSuccess === null">
          <div class="text-center section-heading modal-heading">
            <h3 class="section-title accent-h3 accent-color" v-text="$ml.get($_t('contact us'))"/>
            <div class="h3 sub-title" v-text="$ml.get($_t('If You have any questions'))"/>
          </div>
          <contact-form @success="formSuccess = $event"/>
        </div>
        <div v-else-if="formSuccess"
          class="text-center form-success form-success--true">
          <form-success-true/>
          <div class="form-success__action">
            <button class="btn btn-outline-primary"
                    @click="closeModal"
                    v-text="$ml.get($_t('Go Back'))"/>
          </div>
        </div>
        <div v-else
             class="text-center form-success form-success--false">
          <div class="form-success__icon">
            <simple-svg src="/src/assets/svg/success-false.svg"/>
          </div>
          <div class="text-center section-heading modal-heading">
            <h3 class="section-title accent-h3 accent-color"
                v-text="$ml.get($_t('Something went wrong'))"/>
            <div class="h3 sub-title text-capitalize"
                 v-text="$ml.get($_t('Please try again later.'))"/>
          </div>
          <div class="description" v-text="$ml.get($_t('lorem-desc'))"/>
          <div class="form-success__action">
            <button class="btn btn-outline-primary"
                    @click="closeModal"
                    v-text="$ml.get($_t('Go Back'))"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from '../page/contact/molecules/ContactForm.vue';
import FormSuccessTrue from '../page/contact/molecules/FormSuccessTrue.vue';

export default {
  name: 'ModalContactForms',
  components: { ContactForm, FormSuccessTrue },
  data() {
    return {
      formSuccess: null,
    };
  },
  props: {
    modalStatus: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    handlerModal(e) {
      const modalContainer = this.$refs.modalInner;
      if (this.modalStatus && !modalContainer.contains(e.target)) {
        this.closeModal();
      }
    },
    activeModal() {
      this.$emit('active', true);
      document.body.classList.add('no-scroll');
    },
    closeModal() {
      this.$emit('close', false);
      document.body.classList.remove('no-scroll');
    },
  },
  mounted() {
    document.addEventListener('mouseup', this.handlerModal);
  },
  beforeDestroy() {
    document.removeEventListener('mouseup', this.handlerModal);
  },
};
</script>
