// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
    display: inline-block;

    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: $btn-white-space;

    color: $body-color;
    border: $btn-border-width solid transparent;
    background-color: transparent;

    @include hover() {
        text-decoration: none;

        color: $body-color;
    }

    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;

        @include box-shadow(none);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        @include box-shadow($btn-active-box-shadow);

        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }

    &--img {

        width: $btn-img-width;
        height: $btn-img-height;

        font-size: 0;

        color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% 100%;

        &__google-play {
            background-image: url('../assets/img/btn_android_app.png');
        }

        &__app-store {
            background-image: url('../assets/img/btn_apple_app.png');
        }

        &:hover {
            opacity: .85;
        }
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    text-decoration: $link-decoration;

    color: $link-color;

    @include hover() {
        text-decoration: $link-hover-decoration;

        color: $link-hover-color;
    }

    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;

        box-shadow: none;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;

        color: $btn-link-disabled-color;
    }

    // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

//
// Block button
//

.btn-block {
    display: block;

    width: 100%;

    // Vertically space out multiple block buttons
    + .btn-block {
        margin-top: $btn-block-spacing-y;
    }
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
    &.btn-block {
        width: 100%;
    }
}

.toggle-menu {
    position: relative;

    width: 3.125rem;
    height: 3.125rem;
    padding: .4rem;

    color: $white;
    border: .2rem solid;
    background: transparent;

    &::before,
    &::after {
        content: '';
    }

    &::before,
    &::after,
    &__line {
        display: block;

        width: 100%;
        height: .2rem;

        background: $white;

        transition: .3s ease-out;
    }

    &__line {
        margin: .35rem 0;

        opacity: 1;

        .active & {
            visibility: hidden;

            opacity: 0;

            transition: unset;
        }
    }

    &.active {
        &::before,
        &::after {
            position: absolute;
            top: 1.25rem;
            right: 0;
            left: 0;

            transition: $nav-animation;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}
