.bg-overlay {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        opacity: .65;
        background: $dark;
    }

    & > :first-child {
        position: relative;
        z-index: 1;
    }
}

.dark-context {
    color: $white;
}

.arrow-children {
    position: relative;

    &::before {
        position: absolute;
        right: .5rem;

        padding: .125rem;

        content: '';

        border: solid;
        border-width: 0 .125rem .125rem 0;

        transition: .3s linear;
        transform: rotate(45deg);
    }
}

.active .arrow-children::before {
    transform: rotate(-135deg);
}

.separator {
    position: relative;

    &__inner {
        width: 100%;
        height: 100%;

        &--verticale {
            margin-right: 1.5rem;

            &::before,
            &::after {
                display: inline-block;

                height: 100%;

                content: '';

                background: $primary;
            }

            &::before {
                width: .375rem;
                margin-right: .375rem;
            }

            &::after {
                width: .125rem;
            }

            @include media-breakpoint-down(mob) {
                margin-right: .7rem;
            }
        }

        &--horizontal {
            margin-bottom: 1.25rem;

            &::before,
            &::after {
                display: block;

                width: 100%;

                content: '';

                background: $primary;
            }

            &::before {
                height: .375rem;
                margin-bottom: .375rem;
            }

            &::after {
                height: .125rem;
            }
        }
    }
}

.scroll-down {
    border: none;
    background: transparent;

    &__action {
        position: absolute;
        bottom: 2.5rem;
        left: 0;

        width: 100%;

        text-align: center;
    }

    & svg {
        & path {
            transition: 1s linear;
        }
    }

    &:hover svg {
        & path {
            opacity: .8;

            transform: translateY(.25rem);
        }
    }
}

.accent {
    &-color {
        color: $accent-color;
    }

    &-title {
        line-height: 1;

        @include font-size($accent-title);

        @include media-breakpoint-down(lg) {
            @include font-size($accent-title / 2);
        }

        @include media-breakpoint-down(mob) {
            @include font-size($accent-title / 3.4);
        }
    }
}

.accordion {
    font-family: $headings-font-family;

    &__item {
        position: relative;

        margin-bottom: 1rem;
        padding: 1.25rem 2.25rem;

        cursor: pointer;

        border-radius: .375rem;
        background: $white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            width: .375rem;
            height: 100%;

            content: '';

            border-top-left-radius: .19rem;
            border-bottom-left-radius: .19rem;
            background: $primary;
        }

        &-title {
            font-weight: $font-weight-bold;
        }

        &-content {
            color: $black;
        }

        @include media-breakpoint-down(sm) {
            padding: .725rem 1.5rem;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .col-xl-5ths {
        flex: 0 0 20%;

        max-width: 20%;
    }
}

// Animated

.fade-enter-active,
.fade-leave-active {
    overflow: hidden;

    transition-timing-function: ease;
    transition-duration: .3s;
    transition-property: height, opacity;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.section-heading {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
    }
}

.custom-lists {
    margin: 0;
    padding: 0;

    list-style: none;

    & li {
        position: relative;

        padding-bottom: .75rem;
        padding-left: 3.125rem;

        &::before {
            position: absolute;
            top: .45rem;
            left: 1.5rem;

            width: .625rem;
            height: .625rem;

            content: '';

            border-radius: 50%;
            background: $primary;
        }

        @include media-breakpoint-down(lg) {
            padding-left: 1.5rem;

            &::before {
                left: .5rem;
            }
        }
    }
}

.custom-scroll-y {
    scrollbar-color: $custom-scroll-thumb-color $custom-scroll-bg;
    scrollbar-width: thin;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: .35rem;

        &-track {
            background: $custom-scroll-bg;
        }

        &-thumb {
            background: $custom-scroll-thumb-color;

            &:hover {
                background: $custom-scroll-thumb-color-hover;
            }
        }
    }
}

.no-scroll {
    overflow: hidden !important;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    overflow: hidden;

    transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    transition-duration: .5s;
    transition-property: height, opacity, transform;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;

    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;

    transform: translate(-2em, 0);
}
