// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $headings-font-family;
    line-height: $headings-line-height;

    color: $headings-color;

    @include media-breakpoint-down(sm) {
        & br {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $headings-margin-bottom;

    font-weight: $headings-font-weight;
    text-transform: $headings-text-transform;
}

h1,
.h1 {
    line-height: $headings-line-height-specify;

    @include font-size($h1-font-size);

    @include media-breakpoint-down(xl) {
        @include font-size($h2-font-size - 1rem);
    }

    @include media-breakpoint-down(lg) {
        @include font-size($h1-font-size / 1.5);
    }

    @include media-breakpoint-down(mob) {
        @include font-size($h1-font-size / 2.7);
    }
}

h2,
.h2 {
    line-height: $headings-line-height-specify;

    @include font-size($h2-font-size);

    @include media-breakpoint-down(xl) {
        @include font-size($h2-font-size - 1rem);
    }

    @include media-breakpoint-down(lg) {
        @include font-size($h2-font-size / 1.5);
    }

    @include media-breakpoint-down(mob) {
        @include font-size($h2-font-size / 2.7);
    }
}

h3,
.h3 {
    @include font-size($h3-font-size);

    @include media-breakpoint-down(lg) {
        @include font-size($h3-font-size / 1.25);
    }

    @include media-breakpoint-down(mob) {
        @include font-size($h3-font-size / 1.3);
    }
}

h4,
.h4 {
    color: $colors-h4;

    @include font-size($h4-font-size);

    @include media-breakpoint-down(mob) {
        @include font-size($h4-font-size / 1.15);
    }
}

h5,
.h5 {
    @include font-size($h5-font-size);

    @include media-breakpoint-down(mob) {
        @include font-size($h6-font-size  / 1.05);
    }
}

h6,
.h6 {
    line-height: 1.5;

    @include font-size($h6-font-size);
}

.accent-h3 {
    font-size: $accent-h3;

    @include media-breakpoint-down(lg) {
        font-size: $accent-h3 / 1.5;
    }

    @include media-breakpoint-down(mob) {
        @include font-size($accent-h3 / 2.2);
    }
}

.lead {
    font-weight: $lead-font-weight;

    @include font-size($lead-font-size);
}

// Type display classes
.display-1 {
    font-weight: $display1-weight;
    line-height: $display-line-height;

    @include font-size($display1-size);
}

.display-2 {
    font-weight: $display2-weight;
    line-height: $display-line-height;

    @include font-size($display2-size);
}

.display-3 {
    font-weight: $display3-weight;
    line-height: $display-line-height;

    @include font-size($display3-size);
}

.display-4 {
    font-weight: $display4-weight;
    line-height: $display-line-height;

    @include font-size($display4-size);
}

//
// Horizontal rules
//

hr {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;

    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//

small,
.small {
    font-weight: $font-weight-normal;

    @include font-size($small-font-size);
}

mark,
.mark {
    padding: $mark-padding;

    background-color: $mark-bg;
}

//
// Lists
//

.list-unstyled {
    @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled();
}

.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: $list-inline-padding;
    }
}

//
// Misc
//

.site-content {
    overflow-x: hidden;
}

// Builds on `abbr`
.initialism {
    text-transform: uppercase;

    @include font-size(90%);
}

// Blockquotes
.blockquote {
    margin-bottom: $spacer;

    @include font-size($blockquote-font-size);
}

.blockquote-footer {
    display: block;

    color: $blockquote-small-color;

    @include font-size($blockquote-small-font-size);

    &::before {
        content: '\2014\00A0'; // em dash, nbsp
    }
}

img {
    max-width: 100%;
}

.content-page {
    min-height: 100vh;
}
