<template>
    <div class="main-header__widget" id="main-header__widget">
        <NavLanguage/>
        <div class="login">
          <a href="#" v-text="$ml.get($_t('login'))"/>
          <span v-text="$ml.get($_t('or'))"/>
          <a href="#" v-text="$ml.get($_t('sign-in'))"/>
        </div>
    </div>
</template>

<script>
import NavLanguage from '../../navigation/organism/NavLanguage.vue';

export default {
  name: 'HeaderWidget',
  components: { NavLanguage },
};
</script>

