<template>
  <div class="main-logo">
    <router-link to="/" @mouseover.native="hoverLogo" @mouseleave.native="leavLogo">
        <logo ref="logo" :color-first="colorFirst" :color-second="colorSecond" :hover="logoHover"/>
    </router-link>
  </div>
</template>

<script>
import Logo from '../../svgIcon/Logo.vue';

export default {
  name: 'logo-header',
  components: { Logo },
  data() {
    return {
      colorFirst: '#FDB913',
      colorSecond: '#FFFFFF',
      logoHover: false,
    };
  },
  methods: {
    hoverLogo() {
      setTimeout(() => {
        this.colorFirst = '#FFFFFF';
        this.colorSecond = '#FDB913';
        this.logoHover = true;
      }, 250);
    },
    leavLogo() {
      setTimeout(() => {
        this.colorFirst = '#FDB913';
        this.colorSecond = '#FFFFFF';
        this.logoHover = false;
      }, 300);
    },
  },
};
</script>
