<template>
  <div class="footer-widget--four footer-widget">
    <p class="copy">
      &copy;
      <span class="year">{{new Date().getFullYear()}}</span>
      {{$ml.get($_t('copyright'))}}
    </p>
    <div class="footer-social">
      <a :href="icon.link"  :key="icon.src" v-for="icon in socialIcons">
      <social-icons
                    :icon-src="icon.src"/>
      </a>
    </div>
  </div>
</template>

<script>
import SocialIcons from '../../navigation/organism/SocialIcons.vue';

export default {
  name: 'footer-widget-four',
  components: { SocialIcons },
  data() {
    return {
      socialIcons: [
        {
          src: 'src/assets/svg/twitter.svg',
          link: '#',
        }, {
          src: 'src/assets/svg/linkedin.svg',
          link: '#',
        }, {
          src: 'src/assets/svg/whatsapp.svg',
          link: '#',
        }, {
          src: 'src/assets/svg/facebook.svg',
          link: '#',
        },
      ],
    };
  },
};
</script>
