<template>
  <div class="footer-widget--second footer-widget">
      <main-menu id-menu="footer-menu-1" class-menu="footer-menu"
                 :exclude-elem="['legals', 'contacts']"/>
  </div>
</template>

<script>
import MainMenu from '../../navigation/organism/MainMenu.vue';

export default {
  name: 'footer-widget-second',
  components: { MainMenu },
};
</script>
