<template>
  <div class="footer-widget--three footer-widget">
    <main-menu id-menu="footer-menu-2"
               class-menu="footer-menu"
               :not-mobile="true" :include-elem="['legals']"/>
  </div>
</template>

<script>
import MainMenu from '../../navigation/organism/MainMenu.vue';

export default {
  name: 'footer-widget-three',
  components: { MainMenu },
};
</script>
