<template>
  <div class="footer-widget--first footer-widget">
    <logo-header/>
    <div class="payment">
      <div class="payment__item">
        <a href="#">
          <simple-svg
            src="/src/assets/svg/mater-card.svg"/>
        </a>
      </div>
      <div class="payment__item">
        <a href="#">
          <simple-svg
            src="/src/assets/svg/visa.svg"/>
        </a>
      </div>
    </div>
    <nav-language/>
  </div>
</template>

<script>
import LogoHeader from '../../header/organism/LogoHeader.vue';
import NavLanguage from '../../navigation/organism/NavLanguage.vue';
export default {
  name: 'footer-widget-first',
  components: { NavLanguage, LogoHeader },
};
</script>
