<template>
    <div class="faq-page content-page">
      <g-banner :title="title"
                :description="description"
                :is-button="false"
                banner-img-name="faq_banner.jpg"/>
      <section id="acardion-faq" class="acardion-faq acardion-faq-section">
        <div class="container">
          <acordion :items="acardion"/>
        </div>
      </section>
      <register-account-about/>
    </div>
</template>

<script>
import GBanner from '../../banner/Banner.vue';
import Acordion from '../../helpers/Acordion.vue';
const RegisterAccountAbout = () => import(
  /* webpackChunkName: "register-account-about-section" */ '../about/organism/RegisterAccountAbout.vue'
  );
export default {
  name: 'Faq',
  components: { Acordion, GBanner, RegisterAccountAbout },
  data() {
    return {
      title: 'FAQ',
      description: 'lorem-desc',
      acardion: [
        {
          isopen: true,
          title: 'What is Arcanum Transfer and how is it different?',
          content: `
            <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
             <ul class="custom-lists">
             <li>
                Open a free fully functional, multi-currency account with dedicated IBANs from anywhere in the world in less than 6 minutes (No ques, no piles of paperwork or complicated procedures).
              </li>
              <li>
              Get full financial freedom – from opening new currency accounts, ordering and funding cards and keeping track of all your transactions to having advanced controls over your card limits and managing your security settings (Incl. login credentials and card PIN codes) – you can do it all, in real-time from your account accessed via the app and the web instance.
              </li>
              <li>
                Make SWIFT transfers to any bank around the world at competitive rates;
              </li>
              <li>
                Get 2x free VISA contactless prepaid cards accepted worldwide and the ability to order up to 10 per account;
              </li>
              <li>
                Get 24/7/365 support no matter what assistance you may need - if you need to reach us, you can do so straight from the Arcanum Transfer Mobile app, or contact our customer support center at <a href="#">@arcanumtransfer.eu / 0044 20 3129 0935 – we are here to help!</a>
              </li>
            </ul>
            <p>
                We make moving money super easy, instant and safe. How, when or where you use your money is entirely up to you.
            </p>
           `,
        },
        {
          isopen: false,
          title: 'Can I hold multiple currencies?',
          content: `
          <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
          `,
        },
        {
          isopen: false,
          title: 'How many currency accounts can I have?',
          content: `
          <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
          `,
        },
        {
          isopen: false,
          title: 'What type is the card?',
          content: `
          <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
          `,
        },
        {
          isopen: false,
          title: 'Where can I use the card?',
          content: `
          <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
          `,
        },
        {
          isopen: false,
          title: 'How can I get a card?',
          content: `
          <p>
               Arcanum Transfer is a true global alternative to traditional banking, suitable for individuals and businesses of all sizes.
                With Arcanum Transfer, you can:
            </p>
          `,
        },
      ],
    };
  },
};
</script>
