<template>
    <div class="contact-page content-page">
      <g-banner title="Contacts" banner-img-name="contact_banner.jpg"
        :is-button="false"/>
      <button @click="modalContact = true">Triger</button>
      <contact-items/>
      <contact-forms-section/>
      <transition @enter="enter" @leave="leave">
          <modal-contact-forms v-show="modalContact" :modal-status="modalContact"
                               @active="modalContact = $event"
                               @close="modalContact = $event"/>
      </transition>
    </div>
</template>

<script>

import GBanner from '../../banner/Banner.vue';
import ContactItems from './organism/ContactItems.vue';
import Velocity from 'velocity-animate';
const ContactFormsSection = () => import(
  /* webpackChunkName: "contact-forms-section" */ './organism/ContactFormsSection.vue'
  );
const ModalContactForms = () => import(
  /* webpackChunkName: "contact-forms-modal" */ '../../modal/ModalContactForms.vue'
  );

export default {
  name: 'Contact',
  components: { ContactFormsSection,ModalContactForms, ContactItems, GBanner },
  data(){
    return {
      modalContact: false,
    };
  },
  methods: {
    enter(el) {
      Velocity(el, 'fadeIn');
    },

    leave(el) {
      Velocity(el, 'fadeOut');
    },
  },
};
</script>
